{% load static %}
{% load i18n %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/min.css' %}">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.min.css"%}">
    <link rel="stylesheet" href="{% static 'dashboard/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include 'globals.html' %}
{% include 'dashboard/routes.html' %}
{% block extra_routes %}{% endblock %}
<script type="application/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="application/javascript" src="{% static 'js/react-bundle.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>