{% load static %}
{% load i18n %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script>
    const USER_FULL_NAME="{{ user_full_name }}";
    const LANGUAGE_CODE="{{ LANGUAGE_CODE }}"
    let _langs = [];
    {% for lang in LANGUAGES %}
        _langs.push(
                {
                    'id': '{{ lang.0 }}',
                    'text': '{{ lang.1 }}'
                }
            )
    {% endfor %}
    const LANGUAGES = JSON.parse(JSON.stringify(_langs));
    const ROUTES = {
        account: {
            login: "{% url 'account_login' %}",
            logout: "{% url 'account_logout' %}",
            set_password: "{% url 'account_set_password' %}",
        },
    }
</script>
{% block extra_js %}{% endblock %}
</body>
</html>