{% load i18n %}

<nav>
    <div class="left-side">
        <a href="#" onclick="toggle_sidebar()">
            <svg viewBox="0 0 100 80" width="40" height="40">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
            </svg>
        </a>
        <a href="{% url 'homepage' %}">noodles</a>
    </div>

    <div class="right-side collapsible">
        <a href="#" class="collapse-toggle"><span class="icon-angle-down"></span></a>
        <div class="right-side collapsible-links">
            <div class="dropdown hidden">
                <a class="dropdown-button" href="#">{% trans "Account" %} <span class="icon-angle-down"></span></a>
                <div class="dropdown-menu">
                    <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                    <div class="dropdown submenu hidden">
                        <a class="dropdown-button" href="#">{% trans "Settings" %} <span class="icon-angle-down"></span></a>
                        <div class="dropdown-menu">
                            <a href={% url "account_email" %}>{% trans "change email " %}</a>
                            <a href={% url "account_change_password" %}>{% trans "change password" %}</a>
                            <a href={% url "socialaccount_connections" %}>{% trans "change social accounts" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>