<aside class="hidden">
    <div class="sidebar">
        <div class="top-section">
            <a href="#" onclick="toggle_sidebar()">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                </svg>
            </a>
            <a href="#">Logo</a>
        </div>
        <div class="links">
            <a href="#">Some link</a>
            <a href="#">Some other link</a>
        </div>
    </div>
</aside>