{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ detail.name }}</title>
    <meta name="description" content="{{ detail.description }}"/>
    <meta name="keywords" content="{% for tag in detail.tags.all %}{{ tag }}, {% endfor %}{% for tech in detail.technologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const RESOURCE_API_DELETE = "{% url 'concept-category-viewset-detail' detail.id %}";
        const RESULT = {
            thumbs_up_array: JSON.parse("{{ detail.thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ detail.thumbs_down_array }}"),
        }
        const ROUTES = {
            vote_url: "{{ vote_url }}",
            subscribe_url: "{{ subscribe_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > Category: <a href="{{ detail.category.absolute_url }}">{{ detail.category.name_tree }}</a> > Concept: {{ detail.name | safe}}
    </div>
    <div class="detail-page concept">
        <section id="detail" class="card" itemscope itemtype="https://schema.org/CreativeWork">
            {% include 'concepts/category/detail.html' %}
            <div id="votes-app" class="thumbs"></div>
        </section>
        {% include 'concepts/category/right_side.html' %}
        <div class="coloumn-container bottom">
            {% include 'concepts/category/detail_children_concepts.html' %}
            {% include 'detail_resources.html' %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/votes.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}