{% load markdownify %}


<header>
    <div class="left">
        <h1 class="title" itemProp="name">{{ detail.name }}</h1>
        <span class="published">Created By <a href="{% url 'user-profile' detail.author.username %}">{{ detail.author }}</a></span>
    </div>
    <div class="right">
        <div id="subscribe-app"></div>
        <a class="btn btn-light contribute" href="{% url 'category-concept-edit' detail.pk %}" rel="nofollow noopener">Suggest Edit</a>
{#        <a class="btn" href="{% url 'category-history' slug=detail.slug %}" rel="nofollow noopener">View History</a>#}
    </div>
</header>

<div class="description">
    {{ detail.description | linebreaks }}
</div>

<div class="description-long">
    {{ detail.description_long|markdownify }}
</div>


<meta itemprop="name" content="{{ detail.name }}"/>
<meta itemprop="summary" content="{{ detail.description }}"/>
<meta itemprop="educationalLevel" content="{{ detail.experience_level_label }}"/>