{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.summary }}"/>
    <meta name="keywords" content="


            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}{% for tech in result.technologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const USER_ID = {% if user.is_staff %}0{% else %}{{ user.id }}{% endif %};
        const RESOURCE_API_DELETE = "{% url 'study-resource-viewset-detail' result.id %}";
        const RESULT = {
            thumbs_up_array: JSON.parse("{{ result.thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ result.thumbs_down_array }}"),
            vote_url: "{{ vote_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> / <a href="{{ result.category.absolute_url }}">{{ result.category.name_tree }}</a> / {{ result.name_tree }}
    </div>
    <div class="detail-page resource">
        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" class="card" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                {% include 'concepts/category/detail.html' %}
                <div id="votes-app" class="thumbs"></div>
            </section>
        </div>
        {% include 'concepts/category/right_side.html' %}
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'votes.js' %}"></script>
{% endblock %}