{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
    <div id="edit-app">
        <div class="waiting-container">
            <span class="icon-hour-glass spin-stop"> </span>
            <span class="text">Loading the Edit Suggestions App. It's a one time load.</span>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const TITLE = "Edit Category Concept";
        const USER_ID = {{ request.user.id }};
        const RESOURCE_DETAIL = "{{ urls.resource_detail }}";
        const EDIT_SUGGESTIONS_LIST = "{{ urls.edit_suggestions_list }}";
        const EDIT_SUGGESTIONS_PUBLISH = "{{ urls.edit_suggestions_publish }}";
        const EDIT_SUGGESTIONS_REJECT = "{{ urls.edit_suggestions_reject }}";
        const EDIT_SUGGESTIONS_API = "{{ urls.edit_suggestions_api }}"
        const RESOURCE_API = "{{ urls.resource_api }}";
        const CATEGORIES_OPTIONS_API = "{{ urls.categories_options_api }}";
    </script>
    <script src="{% static 'js/react-bundle.js' %}"></script>
        <script src="{% static 'concepts/category/edit.js' %}"></script>
{% endblock %}