<div class="related column-container" id="related-app">
    <div class="card meta-container">
        <div class="row"><span class="label">Category</span><span
                class="tags"><span class="meta">{{detail.category.get_ahref|safe}}</span></span></div>
    </div>
    <div class="card meta-container">
        <div class="row"><span class="label">Experience level</span><span
                class="tags"><span class="meta">{{ detail.experience_level_label }}</span></span></div>
    </div>
    <div class="card">
        <div class="header">Concepts Tree</div>
        <div class="tree-container">
            {{ detail.parent.get_ahref | safe }}
            <ul class="category-tree">
                <li class="active">
                    {{ detail }}
                    {% if detail.children.count %}
                        <ul>
                        {% for child in detail.get_children %}
                            <li>{{ child.get_ahref|safe }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% for sibling in detail.get_siblings %}
                    <li>{{ sibling.get_ahref|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>