<div class="related column-container" id="related-app">
    {% if children_concepts %}
        <h4>Children Concepts</h4>
        {% for result in children_concepts %}
            {% include 'concepts/category/result.html' %}
        {% endfor %}
    {% endif %}
    {% if technology_concepts %}
        <h4>Technology Related Concepts</h4>
        {% for result in technology_concepts %}
            {% include 'concepts/technology/result.html' %}
        {% endfor %}
    {% endif %}
    <h4>Resources about {{ result.name }}</h4>
    {% if result.resources.count > 0 %}
        {% for result in result.resources.all %}
            {% include 'study_resource/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'create-resource' %}">Add a new learning resource</a>
    {% else %}
        <div class="alert alert-contribute">
            <p>There are no resources added for {{ result.name }}.</p>
            <a class="contribute" href="{% url 'create-resource' %}">Be the first to add a learning resource</a>
        </div>
    {% endif %}
</div>