{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ detail.name }}</title>
    <meta name="description" content="{{ detail.description }}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const ROUTES = {
            subscribe_url: "{{ subscribe_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > Category {{ detail.category_tree_urls | safe }}
    </div>
    <div class="detail-page category">
        <section id="detail" class="card" itemscope
                 itemtype="https://schema.org/CreativeWork">
            {% include 'category/detail.html' %}
        </section>
        {% include 'category/right_side.html' %}
        <div class="column-container bottom">
            {% include 'category/detail_concepts.html' %}
            {% include 'detail_technologies.html' %}
            {% include 'detail_resources.html' %}
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}