<div class="related column-container" id="related-app">
    <h4>{{ detail.name }} Concepts</h4>
    {% if concepts %}
        {% for result in concepts %}
            {% include 'concepts/category/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'category-concept-create' %}?category={{ detail.pk }}" rel="nofollow noopener">
            Add a new concept
        </a>
    {% else %}
        <a class="contribute" href="{% url 'category-concept-create' %}?category={{ detail.pk }}" rel="nofollow noopener">
            Be the first to add a concept
        </a>
    {% endif %}
    <h4>{{ detail.name }} Technologies</h4>
    {% if technologies %}
        {% for result in technologies %}
            {% include 'technology/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'technology-create' %}" rel="nofollow noopener">
            Add a new technology
        </a>
    {% else %}
        <a class="contribute" href="{% url 'technology-create' %}" rel="nofollow noopener">
            Be the first to add a technology
        </a>
    {% endif %}
</div>