<div class="related column-container" id="related-app">
    <div class="card">
        <div class="header">Category Tree</div>
        <div class="tree-container">
            {% if not detail.is_root %}
                <div class="parent">{{ detail.parent.get_ahref|safe }}</div>
            {% endif %}
            <ul class="category-tree">
                <li class="active">
                    {{ detail }}
                    {% if detail.children.count %}
                        <ul>
                        {% for child in detail.get_children %}
                            <li>{{ child.get_ahref|safe }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% for sibling in detail.get_siblings %}
                    <li>{{ sibling.get_ahref|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>