<script>
    const USER_FULL_NAME="{{ request.user.get_full_name }}";
    const USER_AUTH={% if user.is_authenticated %}true{% else %}false{% endif %};
    const LANGUAGE_CODE="{{ LANGUAGE_CODE }}"
    let _langs = [];
    {% for lang in LANGUAGES %}
        _langs.push(
                {
                    'id': '{{ lang.0 }}',
                    'text': '{{ lang.1 }}'
                }
            )
    {% endfor %}
    const LANGUAGES = JSON.parse(JSON.stringify(_langs));
    const ROUTES = {
        homepage: "{% url 'homepage' %}",
        dashboard: "{% url 'dashboard' %}",
        account: {
            login: "{% url 'account_login' %}",
            logout: "{% url 'account_logout' %}",
            settings: "{% url 'account_settings' %}",
            change_password: "{% url 'account_change_password' %}",
            account_email: "{% url 'account_email' %}",
            socialaccount_connections: "{% url 'socialaccount_connections' %}",
        },
    }
</script>