{% load star_rating %}
{% if result.image %}
    <div id="primary-image-container">
        <img src="{{ result.image.large }}" alt="">
    </div>
{% endif %}
<header>
    <div class="top">
        <div class="tags">
            {% for tech in result.studyresourcetechnology_set.all %}
                <a class="tech" href="{{ tech.absolute_url }}">
            <span>
            <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.50198 4.5L11.002 1H2.00198V0.5C2.00198 0.224 1.77798 0 1.50198 0C1.22598 0 1.00198 0.224 1.00198 0.5V11.5C1.00198 11.776 1.22598 12 1.50198 12C1.77798 12 2.00198 11.776 2.00198 11.5V8H11.002L9.50198 4.5Z"
                  fill="black"/>
            </svg>
             {{ tech }}
            </span>
                </a>
            {% endfor %}
            <a href="{% url 'search_page' %}?tab=resources&category={{ result.category }}">{{ result.category }}</a>
            <a href="{% url 'search_page' %}?tab=resources&experience={{ result.experience_level_label }}"
               itemprop="educationalLevel">{{ result.experience_level_label }}</a>
            <a href="{% url 'search_page' %}?tab=resources&price={{ result.price_label }}">{{ result.price_label }}</a>
            <a href="{% url 'search_page' %}?tab=resources&media={{ result.media_label }}"
               itemProp="learningResourceType">{{ result.media_label }}</a>
        </div>
        <div id="toolbar">
            <a href="{% url 'study-resource-edit' result.pk %}">edit</a>
            <a href="{% url 'account_login' %}?next={{ request.get_full_path }}" class="icon-bookmark"></a>
        </div>
    </div>
    <h1 class="title" itemProp="name">{{ result.name }}</h1>
</header>

<div class="published">Published on {{ result.publication_date }} by {{ result.published_by }}</div>
<div class="rating">
    {% if result.rating %}
        <span class="stars">{% star_rating result.rating %}</span>
        <span itemprop="ratingCount">{{ result.reviews_count }}</span> Reviews
    {% else %}
        <span itemprop="ratingCount">No reviews yet. <a href="{{ result.absolute_url }}">Contribute</a></span>
    {% endif %}
</div>

<div class="description">
    {{ result.summary }}
</div>

<div class="tags" itemprop="keywords">
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}"># {{ tag }}</a>
    {% endfor %}
</div>


<a href="{{ result.url }}" class="btn resource-url">Go To Resource</a>
<span class="published">Added here on {{ result.created_at }} By {{ result.author }}</span>