{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block content %}
    <script>
        const LOGIN_URL = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        const USER_ID = {% if user.is_authenticated %}{{ user.id }}{% else %}false{% endif %};
        const REVIEW_API_ENDPOINT = "{% url 'review-viewset-list' %}";
        const REVIEWS_LIST_API_ENDPOINT = "{% url 'study-resource-viewset-reviews' result.id %}";
        const MAX_RATING = {{ MAX_RATING }};
        const RESOURCE_ID = {{ result.id }};
        const HOMEPAGE = "{% url 'homepage' %}";
    </script>
    <div class="detail-page">
        <section class="header">
            <h1>Detail page</h1>
            {% include 'study_resource/search_bar_section.html' %}
        </section>

        <div class="detail-container">
            <section id="detail">
                {% include 'study_resource/detail.html' %}
            </section>
            <section class="reviews"></section>
        </div>


        <section class="related">
            <h3>Related</h3>
            <div class="results-selection">
                {% for result in related %}
                    <div class="result">
                        {% include 'study_resource/result.html' %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'study_resource/study-resource-detail-reviews.js' %}"></script>
    {% if user.is_authenticated and user == result.author %}
        <script>
            const SEARCH_URL = "{% url 'search' %}";
            const STUDY_RESOURCE_ENDPOINT = "{% url 'study-resource-viewset-list' %}";
            const TAGS_ENDPOINT = "{% url 'tags-viewset-list' %}";
            const TECH_ENDPOINT = "{% url 'techs-viewset-list' %}";
            const RESULT = {
                pk: {{ result.pk }},
                rating: {% if result.rating %}{{ result.rating }}{% else %}false{% endif %},
                name: "{{ result.name }}",
                url: "{{ result.url }}",
                publication_date: "{{ result.publication_date }}",
                published_by: "{{ result.published_by }}",
                created_at: "{{ result.created_at }}",
                type: {{ result.price }},
                media: {{ result.media }},
                experience_level: {{ result.experience_level }},
                summary: "{{ result.summary }}",
                tags: [],
                technologies: []
            }
            {% for tag in result.tags.all %}
                RESULT.tags.push({{ tag.id }});
            {% endfor %}
            {% for tech in result.technologies.all %}
                RESULT.technologies.push({{ tech.id }});
            {% endfor %}
        </script>
        <script src="{% static 'study_resource/study-resource-edit.js' %}"></script>
    {% endif %}
{% endblock %}