{% load star_rating %}

<script>
    const STUDY_RESOURCE_ENDPOINT = "{% url 'study-resource-viewset-list' %}";
    const TAGS_ENDPOINT = "{% url 'tags-viewset-list' %}";
    const TECH_ENDPOINT = "{% url 'techs-viewset-list' %}";
    const RESULT = {
        rating: "{% if result.rating %}{% star_rating result.rating %}{% else %}not rated{% endif %}",
        name: "{{ result.name }}",
        url: "{{ result.url }}",
        publication_date: "{{ result.publication_date }}",
        published_by: "{{ result.published_by }}",
        created_at: "{{ result.created_at }}",
        price: "{{ result.price }}",
        media: "{{ result.media }}",
        experience_level: "{{ result.experience_level }}",
        summary: "{{ result.summary }}",
        tags: [],
        technologies: []
    }
    {% for tag in result.tags.all %}
        RESULT.tags.push({{ tag.id }});
    {% endfor %}
    {% for tech in result.technologies.all %}
        RESULT.technologies.push({{ tech.id }});
    {% endfor %}
</script>