{% load star_rating %}

<p class="rating">{% if result.rating %}{% star_rating result.rating %}{% else %}not rated{% endif %}</p>
<p class="title">
    <a href="{{ result.url }}">{{ result.name }}</a>
</p>
<p class="publication-date">Published on {{ result.publication_date }} by {{ result.published_by }}</p>
<p class="creation-date">Created on {{ result.created_at }}</p>

<p class="tags">Tags
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}">{{ tag }}</a>
    {% endfor %}
<p class="tags">Technologies
    {% for tech in result.technologies.all %}
        <a class="tech" href="{% url 'search' %}?technologies={{ tech.id }}">{{ tech }}</a>
    {% endfor %}
</p>
<p class="type">{{ result.price_label }} {{ result.media_label }}</p>

<p class="summary">{{ result.summary }}</p>
<p class="author">added by {{ result.author }}</p>