{% load star_rating %}
<div class="column-container">
    <section id="detail" class="card" itemscope
             itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="{{ result.name }}"/>
        <meta itemprop="datePublished" content="{{ result.publication_date }}"/>
        <meta itemprop="description" content="{{ result.summary }}"/>


        <header>
            <div class="left">
                <h1 class="title">{{ result.name }}</h1>
                <div class="meta">
                    <div class="published">Created by {{ result.published_by }} on {{ result.publication_date }}</div>
                </div>
                <div class="rating">
                    {% if result.rating %}
                        <span class="stars">{% star_rating result.rating %}</span>
                        <span>{{ result.reviews_count }}</span> Reviews
                    {% else %}
                        <span>Be the first to write a review</span>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <a class="btn" href="{% url 'study-resource-edit' result.pk %}" rel="nofollow noopener">Suggest Edit</a>
                <a class="btn" href="{% url 'study-resource-history' slug=result.slug %}"
                   rel="nofollow noopener">View History</a>
            </div>
        </header>

        {% if result.image %}
            <div id="primary-image-container">
                <img src="{{ result.image.large }}" alt="">
            </div>
        {% endif %}

        <div class="description">
            {{ result.summary | linebreaks }}
        </div>

        <div class="footer">
            <div class="published">
                Added by
                By <a href="{% url 'user-profile' result.author.username %}">{{ result.author }}</a>
                on {{ result.created_at }}
            </div>
            <div class="actions">
                <div id="detail-toolbar"></div>
                <a href="{{ result.url }}" target="_blank" class="btn" rel="nofollow noopener">Go To Resource</a>
            </div>
        </div>

    </section>
</div>