{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.summary }}"/>
    <meta name="keywords" content="


            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}{% for tech in result.studyresourcetechnologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Homepage</a> / Resources / {{ result.category }} / <a
            href="{{ result.absolute_url }}">{{ result.name }}</a>
    </div>
    <div class="detail-page resource">
        <div class="column-container detail-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" class="card" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                {% include 'study_resource/detail.html' %}
            </section>
            {% include 'study_resource/reviews.html' %}
        </div>
        {% include 'study_resource/right_side.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'related-app.js' %}"></script>
{% endblock %}