{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
    <h3>Edit Resource Page: in progress</h3>
{% endblock %}

{% block extra_js %}
    <script>
        const RESOURCE_DETAIL = "{{ resource_url }}";
        const EDIT_SUGGESTION_LIST = "{{ edit_suggestions_list }}";
        const EDIT_SUGGESTION_CREATE = "{{ edit_suggestions_create }}";
        const EDIT_SUGGESTION_PUBLISH = "{{ edit_suggestions_publish }}";
        const EDIT_SUGGESTION_REJECT = "{{ edit_suggestions_reject }}";
    </script>
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'study_resource/edit.js' %}"></script>
{% endblock %}