<div class="right-side">
    {% if collections %}
        <section class="column-container" id="collections">
            <h4>Contained In Collections</h4>
            <div class="tile-container">
                {% for result in collections %}
                    {% include 'study_collection/result.html' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if related %}
        <section class="column-container" id="related">
            <h4>Related</h4>
            <div class="tile-container">
                {% for result in related %}
                    {% include 'study_resource/result.html' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
</div>