{% extends 'frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="search-page">
        <section class="header">
            <h1>Search Page</h1>
            {% include 'study_resource/search_bar_section.html' %}
        </section>

        {% include 'frontend/filter.html' with filter_url='search' %}
        <section class="results-container column-container">
            {% if not results %}
                <h3>Did not find any results :(</h3>
            {% else %}
                <h3>Found {{ results.paginator.count }} results matching your query:</h3>
                <div class="results-selection tile-container">
                    {% for result in results %}
                        <div class="result card">{% include 'study_resource/result.html' %}</div>
                    {% endfor %}
                </div>
                {% if results.has_other_pages %}
                    {% include 'static_pagination.html' %}
                {% endif %}
            {% endif %}
        </section>
    </div>
{% endblock %}