{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > My Profile Dashboard
    </div>
    <section class="tab-navigation">
        <div class="tab-headers">
            <h4 {% if active == 'profile' %}class="active"{% endif %}><a
                    href="{% url 'my-profile' %}">Profile</a></h4>
            <h4 {% if active == 'collections' %}class="active"{% endif %}><a href="{% url 'my-collections' %}">My Collections</a></h4>
            <h4 {% if active == 'subscriptions' %}class="active"{% endif %}><a href="{% url 'my-subscriptions' %}">Subscriptions</a></h4>
            <h4 {% if active == 'settings' %}class="active"{% endif %}><a href="{% url 'my-settings' %}">Settings</a></h4>
        </div>
    </section>
    {% block sub_content %}{% endblock %}
{% endblock %}