{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
    <div class="detail-page">
        <section class="profile">
            <div class="header">
                <h1>My Profile</h1>
            </div>
            <section class="tab-navigation profile">
                <div class="tab-headers">
                    <h4 {% if active == 'profile' %}class="active"{% endif %}><a href="{% url 'my-profile' %}">Profile</a></h4>
                    <h4 {% if active == 'settings' %}class="active"{% endif %}><a href="{% url 'my-settings' %}">Settings</a></h4>
                    <h4 {% if active == 'resources' %}class="active"{% endif %}><a href="{% url 'my-resources' %}">Resources</a></h4>
                    <h4 {% if active == 'reviews' %}class="active"{% endif %}><a href="{% url 'my-reviews' %}">Reviews</a></h4>
                    <h4 {% if active == 'collections' %}class="active"{% endif %}><a href="{% url 'my-collections' %}">Collections</a></h4>
                    <h4 {% if active == 'technologies' %}class="active"{% endif %}><a href="{% url 'my-technologies' %}">Technologies</a></h4>
                </div>
                <div class="results profile column-container">
                    {% block sub_content %}{% endblock %}
                </div>
            </section>
        </section>
        <section id="related-app" class="column-container"></section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'related-app.js' %}"></script>
{% endblock %}