{% extends 'users/_my_profile_base.html' %}
{% load static %}

{% block sub_content %}
    <script>
        const RESOURCE_URL = "/tutorials/"
        const TAGS_OPTIONS_API = "{{ urls.tag_options_api }}";
        const TECH_OPTIONS_API = "{{ urls.tech_options_api }}";
        const STUDY_RESOURCE_OPTIONS_URL = "{{ urls.study_resource_options }}"

        const COLLECTIONS_API = "{{ urls.collections_api }}";
        const USER_COLLECTIONS_LIST = "{{ urls.user_collections_list }}";
        const USER_COLLECTIONS_UPDATE_ITEMS_API = "{{ urls.update_collection_items }}";
        const MAX_RATING = 5;
    </script>
    <div class="my-collections-page column-container">
        <section id="collections-app" class="column-container">
            <div class="waiting-container">
                <span class="icon-hour-glass spin-stop"> </span>
                <span class="text">Loading the Collections App. It's a one time load.</span>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/my-study-collections.js' %}"></script>
{% endblock %}