{% extends 'users/_my_profile_base.html' %}
{% load star_rating %}

{% block sub_content %}
    <h4>{{ user.username }} <a href="{% url 'my-profile-edit' %}">Edit</a></h4>
    <h4>{{ user.get_full_name }}</h4>
    <div class="description">
        {{ user.about }}
    </div>
    <div class="header">
        <h4>Statistics</h4>
    </div>
    <div class="group">
        <p class="color-accent">Given reviews</p>
        <p>Average rating: {% star_rating statistics.average_given_rating.rating__avg %}</p>
    </div>
    <div class="group">
        <p class="color-accent">Your overall score</p>
        <p>Positive: {{ user.positive_score }}</p>
        <p>Negative: {{ user.negative_score }}</p>
    </div>
    <div class="group">
        <p class="color-accent">Your actions on others</p>
        <p>Appreciated: {{ user.positive_thumbs }}</p>
        <p>Not appreciated: {{ user.negative_thumbs }}</p>
    </div>
{% endblock %}