{% extends 'frontend/base.html' %}
{% load star_rating %}

{% block content %}
    <section class="user-profile column-container full-page-md">
        <div class="card column-container">
            <div class="header">
                <h3>Account</h3>
            </div>
            <p>Full Name: {{ user.get_full_name }}</p>
            <p><a href="{% url 'my-profile-edit' %}">edit</a></p>
        </div>
        <div class="card column-container">
            <div class="header">
                <h3>Statistics</h3>
            </div>
            <div class="group">
                <p class="color-accent">Given reviews</p>
                <p>Average rating: {% star_rating statistics.average_given_rating.rating__avg %}</p>
            </div>
            <div class="group">
                <p class="color-accent">Your overall score</p>
                <p>Positive: {{ user.positive_score }}</p>
                <p>Negative: {{ user.positive_score }}</p>
            </div>
            <div class="group">
                <p class="color-accent">Your actions on others</p>
                <p>Appreciated: {{ user.positive_thumbs }}</p>
                <p>Not appreciated: {{ user.negative_thumbs }}</p>
            </div>

        </div>
    </section>
{% endblock %}