{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="my-reviews-page">
        <section class="header">
            <h1>My Reviews</h1>
        </section>
        <section class="results-container column-container">
            {% if not results %}
                <h3>You didn't review anything :(</h3>
            {% else %}
                <h3>You submitted {{ results.paginator.count }} reviews:</h3>
                <div class="tile-container">
                    {% for review in results %}
                        <div class="resource-review-container card">
                            {% include 'users/review_listing.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% if results.has_other_pages %}
                    {% include 'static_pagination.html' %}
                {% endif %}
            {% endif %}
        </section>
    </div>
{% endblock %}