{% extends 'users/_my_profile_base.html' %}
{% load crispy_forms_tags %}

{% block sub_content %}
    <section class="column-container">
        {% if not results %}
            <div class="no-results">
                <h2>No Technologies Yet</h2>
                <p>Add a new technology by clicking <a href="{% url 'create-technology' %}">here</a></p>
            </div>
        {% else %}
            {% for result in results %}
                {% include 'technology/result.html' %}
            {% endfor %}
            {% if results.has_other_pages %}
                {% include 'static_pagination.html' %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}