{% load star_rating %}
<div class="result">
    {% with res=review.study_resource %}
        <p class="rating">{% star_rating res.rating %}</p>
        <p class="title">
            <a href="{% url 'study-resource-detail' res.id res.slug %}">{{ res.name }}</a>
        </p>

        <div class="group-muted">
        <p class="publication-date">{{ res.publication_date }}</p>
        <p class="experience-level">Difficulty: {{ res.experience_level_label }}</p>
        <p class="type">{{ res.media_label }}, {{ res.price_label }}</p>
        </div>

        <p class="tags">{% for tag in res.tags.all %}
            <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}">{{ tag }}</a>
        {% endfor %}
            {% for tech in res.technologies.all %}
                <a class="tech" href="{% url 'search' %}?technologies={{ tech.id }}">{{ tech }}</a>
            {% endfor %}
        </p>
    {% endwith %}
</div>

<div class="review">
    <p class="rating">{% star_rating review.rating %}</p>
    <p class="date">{{ review.created_at }}</p>
    <p class="text">{{ review.text }}</p>
    <div class="thumbs">
        <div class="down">
            <span class="icon-thumbs-o-down"></span>
            <span>{{ review.thumbs_down }}</span>
        </div>
        <div class="up">
            <span class="icon-thumbs-o-up"></span>
            <span>{{ review.thumbs_up }}</span>
        </div>
    </div>
</div>