{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>Noodles.com - add problem</title>
    <meta name="description"
          content="Add a problem"/>
{% endblock %}

{% block content %}
    <script>
        const LOGIN_URL = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        const USER_ID = {% if user.is_authenticated %}{{ user.id }}{% else %}false{% endif %};
        const PROBLEM_ENDPOINT = "{% url 'problem-viewset-list' %}";
        const TAGS_ENDPOINT = "{% url 'tags-viewset-list' %}";
    </script>
    <div class="create-page">
        <section class="header">
            <h1>Create new problem</h1>
        </section>
        <section id="create-app"></section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'problem_solution/problem-create.js' %}"></script>
{% endblock %}