{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.description }}"/>
    <meta name="keywords" content="
            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <div class="detail-page">

        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" class="card" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                <div class="toolbar">
                    <a href="" class="icon-pencil edit"></a>
                </div>
                {% include 'problem_solution/solution/detail.html' %}
                {% include 'vote_not_logged.html' with resource=result %}
            </section>
            <section id="children" class="column-container">
                {% if problems %}
                <h3>Problems:</h3>
                {% for problem in problems %}
                    {% include 'problem_solution/problem/result.html' with result=problem %}
                {% endfor %}
                {% else %}
                    no problems added
                {% endif %}
                <a href="{% url 'account_login' %}?next={{ request.get_full_path }}">login to add problem</a>
            </section>
            <section id="create-problem" class="column-container"></section>
        </div>


        <section class="related column-container">
            <h3>Related</h3>
            <div class="tile-container">
                {% for result in related %}
                    {% include 'problem_solution/solution/result.html' %}
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}