<h1 class="title" itemProp="name">
    {{ result.name }}
</h1>
{% if result.parent %}
    <p class="">solution to <a href="{{ result.parent.absolute_url }}">{{ result.parent.name }}</a></p>
{% endif %}
<p class="summary" itemProp="abstract">{{ result.description }}</p>
<div class="tags" itemProp="keywords">
    <span>Tags: </span>
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}"><span></span>{{ tag }}</a>
    {% endfor %}
</div>
<div class="subsection">
    <p class="title">Technologies implementing this solution</p>
    <div class="list">
        {% for tech in result.technologies.all %}
            {% include 'problem_solution/solution/technology_result.html' with result=tech %}
        {% endfor %}
    <div class="item">
        <a href="{% url 'account_login' %}?next={{ request.get_full_path }}">login to add technology</a>
        <br>
        <small>not implemented yet. it should open a modal for creating a new tech and adding it here</small>
    </div>
    </div>
</div>