{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.description }}"/>
    <meta name="keywords" content="
            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const LOGIN_URL = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        const USER_ID = {% if user.is_authenticated %}{{ user.id }}{% else %}false{% endif %};
        const HOMEPAGE = "{% url 'homepage' %}";
        const SEARCH_URL = "{% url 'search' %}";

        const TECH_ENDPOINT = "{% url 'techs-viewset-list' %}";
        const TAGS_OPTIONS_ENDPOINT = "{% url 'tags-options-list' %}";
        const TECH_OPTIONS_ENDPOINT = "{% url 'techs-options-list' %}";

        const SOLUTION_PROBLEMS_ENDPOINT = "{% url 'solution-viewset-problems' result.pk %}";
        const PROBLEM_ENDPOINT = "{% url 'problem-viewset-list' %}";
        const SOLUTION_ENDPOINT = "{% url 'solution-viewset-list' %}";
        const RESULT = {
            pk: {{ result.pk }},
            name: "{{ result.name }}",
            description: "{{ result.description|escapejs }}",
            tags: [],
            technologies: [],
        }
        {% if result.parent %}
            RESULT['parent_element'] = {
                pk: {{ result.parent.pk }},
                absolute_url: "{{ result.parent.absolute_url }}",
                name: "{{ result.parent.name }}",
                description: "{{ result.parent.description|escapejs }}",
            }
        {% else %}
            RESULT['parent'] = false;
        {% endif %}
        {% for tag in result.tags.all %}
            RESULT.tags.push({value: {{ tag.pk }}, label: "{{ tag.name }}"});
        {% endfor %}
        {% for tech in result.technologies.all %}
            RESULT.technologies.push({value: {{ tech.pk }}, label: "{{ tech }}"});
        {% endfor %}
    </script>
    <div class="detail-page">

        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" class="card" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                <div class="toolbar">
                    <a href="{% url 'solution-edit' id=result.pk %}">edit</a>
                </div>
                {% include 'problem_solution/solution/detail.html' %}
            </section>
            <section id="create-problem" class="column-container"></section>
            <section id="children" class="column-container"></section>
        </div>


        <section class="related column-container">
            <h3>Related</h3>
            <div class="tile-container">
                {% for result in related %}
                    {% include 'problem_solution/solution/result.html' %}
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'problem_solution/solution-children-tree.js' %}"></script>
    <script src="{% static 'problem_solution/problem-create-modal.js' %}"></script>
    <script src="{% static 'problem_solution/solution-edit.js' %}"></script>
{% endblock %}