{% load static %}
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta_tags %}
        <title>Noodles.com</title>
        <meta name="description"
              content="Browse through a community curated collection of tutorials and courses on software development"/>
        <meta name="robots" content="index, follow"/>
        <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
        <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'slim-select/dist/slimselect.min.css' %}">
    <link rel="stylesheet" href="{% static 'icomoon_fonts/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_top_js %}{% endblock %}
</head>
<body>

{% include "frontend/navbar.html" %}
{% if user.is_authenticated %}
    {% if user.is_staff %}
        {% include "dashboard/sidebar.html" %}
    {% else %}
        {% include "users/sidebar.html" %}
    {% endif %}
{% endif %}

{% block header %}{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'frontend/footer.html' %}

<script src="{% static 'slim-select/dist/slimselect.min.js' %}"></script>
<script>
    function toggle_sidebar() {
        document.querySelector('aside').classList.toggle('hidden');
    }

    window.addEventListener('load', e => {
        document.querySelectorAll('select').forEach(el => {
            el.classList.remove('form-control');
            new SlimSelect({
                select: el,
            })
        })

        document.querySelectorAll('.collapsible .collapse-toggle').forEach(el => el.onclick = evt => {
            evt.preventDefault();
            evt.target.closest('.collapsible').classList.toggle('show');
        });

        let dropdownsNodes = document.querySelectorAll(".dropdown");
        let dropdownArray = Array.prototype.slice.call(dropdownsNodes, 0);
        dropdownArray.forEach(dropdown => {
            let button = dropdown.querySelector('a.dropdown-button');
            let isSubmenu = dropdown.classList.contains('submenu');
            let dropdownOpen = () => {
                if (dropdown.classList.contains('hidden')) dropdown.classList.remove('hidden');
            }
            let dropdownClose = () => {
                if (!dropdown.classList.contains('hidden')) dropdown.classList.add('hidden');
                // close submenus
                let submenus = dropdown.querySelectorAll('.dropdown:not(.hidden)');
                submenus
                    ? submenus.forEach(dropdown => dropdown.classList.add('hidden'))
                    : false;
            }
            button.onclick = evt => {
                evt.preventDefault();
                if (dropdown.classList.contains('hidden')) {
                    dropdownOpen();
                    if (!isSubmenu && window.onclick) window.onclick();
                    dropdown.onclick = ev => ev.stopPropagation();
                    if (!isSubmenu) setTimeout(() => window.onclick = ev => {
                        dropdownClose();
                        window.onclick = null;
                    }, 100);
                } else {
                    dropdownClose();
                    if (!isSubmenu) window.onclick = null;
                }
            }
        })
    })
</script>
{% block extra_js %}{% endblock %}
</body>
</html>