{% load static %}
<footer class="footer">
    <section class="about column-container">
        <header>Why Noodles?</header>
        <p>We know how difficult is to learn software engineering.
            It's a steep learning curve and the threshold required for getting a job in the industry is pretty
            high.
            Therefore, many students have to live economically and eat the cheapest food there is: instant
            noodles!
            <br>
            We believe that noodles is a symbol for the empowered student that fights through messy lines of
            code and confusing bugs. Never loose hope!
            That's why we have noodles here.
        </p>
        <a href="{% url 'noodles-backstage' %}" rel="nofollow noopener">Noodles.dev Backstage</a>
    </section>
    <section class="links column-container">
        <header>Resources</header>
        <a href="{% url 'privacy-policy' %}" rel="nofollow noopener">Privacy Policy</a>
        <a href="{% url 'terms-policy' %}" rel="nofollow noopener">Terms and Conditions</a>
        <a href="{% url 'cookie-policy' %}" rel="nofollow noopener">Cokies Policy</a>
    </section>
    <section class="social column-container">
        <header>Follow Us</header>
        <div class="links">
            <a href="https://www.facebook.com/Noodlesdev-246723616485973" rel="nofollow noopener">
                <span class="icon-facebook2"> </span> Facebook Page
            </a>
            <a href="https://www.facebook.com/groups/noodles.dev" rel="nofollow noopener">
                <span class="icon-facebook2"> </span> Discussion Group
            </a>
        </div>
    </section>
</footer>