{% load static %}
<footer class="footer">
    <section class="about column-container">
        <header>Why Noodles?</header>
        <p>We know how difficult is to learn software engineering.
            It's a steep learning curve and the threshold required for getting a job in the industry is pretty
            high.
            Therefore, many students have to live economically and eat the cheapest food there is: instant
            noodles!
            <br>
            We believe that noodles is a symbol for the empowered student that fights through messy lines of
            code and confusing bugs. Never loose hope!
            That's why we have noodles here.
        </p>
        <div class="button-links-container">
            <a
                href="https://www.facebook.com/groups/noodles.dev"
                rel="nofollow noopener"
                class="uikit-button filled default"
            >
                Join our Facebook Group!
            </a>
            <a
                href="{% url 'noodles-backstage' %}"
                rel="nofollow noopener"
                class="uikit-button outlined white"
            >
                Noodles.dev Backstage
            </a>
        </div>
    </section>
    <section class="links column-container">
        <h4 class="header">Noodles.<span>Dev</span></h4>
        <a href="" rel="nofollow noopener">About</a>
        <a href="" rel="nofollow noopener">Technologies</a>
        <a href="" rel="nofollow noopener">Concepts</a>
        <a href="" rel="nofollow noopener">Resources</a>
        <a href="" rel="nofollow noopener">Collections</a>
    </section>
    <section class="social column-container">
        <div class="links">
            <h4 class="header">Links</h4>
            <a href="" rel="nofollow noopener">Privacy Policy</a>
            <a href="" rel="nofollow noopener">Terms and Conditions</a>
            <a href="" rel="nofollow noopener">Cookies Policy</a>
        </div>
        <div class="socials">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-twitter"></span>
            <span class="icon icon-linkedin"></span>
            <span class="icon icon-telegram1"></span>
            <span class="icon icon-reddit-alien"></span>
        </div>
    </section>
    <section class="back-to-top">
        <img src="/static/imgs/back-to-top-arrow.png" />
        <h4>Back to Top</h4>
    </section>
</footer>