{% load static %}
<footer class="footer">
    <section class="about column-container">
        <header>Why Noodles?</header>
        <p>We know how difficult is to learn software engineering.
            It's a steep learning curve and the threshold required for getting a job in the industry is pretty
            high.
            Therefore, many students have to live economically and eat the cheapest food there is: instant
            noodles!
            <br>
            We believe that noodles is a symbol for the empowered student that fights through messy lines of
            code and confusing bugs. Never loose hope!
            That's why we have noodles here.
        </p>
        <div class="button-links-container">
            <a
                    href="https://www.facebook.com/groups/noodles.dev"
                    rel="nofollow noopener"
                    class="uikit-button filled default"
            >
                Join our Facebook Group!
            </a>
            <a
                    href="{% url 'noodles-backstage' %}"
                    rel="nofollow noopener"
                    class="uikit-button outlined white"
            >
                Noodles.dev Backstage
            </a>
        </div>
    </section>
    <section class="mobile-links">
        <div class="links column-container">
            <h4 class="header">Noodles.<span>Dev</span></h4>
            <a href="" rel="nofollow noopener">About</a>
            <a href="/learn" rel="nofollow noopener">Technologies</a>
            <a href="{% url 'category-concept-all' %}" rel="nofollow noopener">General Concepts</a>
            <a href="{% url 'technology-concept-all' %}" rel="nofollow noopener">Implementation Concepts</a>
            <a href="/tutorials" rel="nofollow noopener">Resources</a>
            <a href="/collections" rel="nofollow noopener">Collections</a>
        </div>
        <div class="social column-container">
            <h4 class="header">Links</h4>
            <a href="{% url 'privacy-policy' %}" rel="nofollow noopener">Privacy Policy</a>
            <a href="{% url 'terms-policy' %}" rel="nofollow noopener">Terms and Conditions</a>
            <a href="{% url 'cookie-policy' %}" rel="nofollow noopener">Cookies Policy</a>
        </div>
    </section>
    <section class="mobile-socials">
        <a href="https://www.facebook.com/groups/noodles.dev"><span class="icon icon-facebook"></span></a>
        <span class="icon icon-twitter"></span>
        <a href="https://www.linkedin.com/in/vladimir-gorea-7570b118/"><span class="icon icon-linkedin"></span></a>
        <span class="icon icon-telegram1"></span>
        <span class="icon icon-reddit-alien"></span>
    </section>
    <section class="links column-container">
        <h4 class="header">Noodles.<span>Dev</span></h4>
        <a href="">About</a>
        <a href="/learn">Technologies</a>
        <a href="{% url 'category-concept-all' %}">General Concepts</a>
        <a href="{% url 'technology-concept-all' %}">Implementation Concepts</a> <a
            href="/tutorials">Resources</a>
        <a href="/collections">Collections</a>
    </section>
    <section class="social column-container">
        <div class="links">
            <h4 class="header">Links</h4>
            <a href="{% url 'privacy-policy' %}" rel="nofollow noopener">Privacy Policy</a>
            <a href="{% url 'terms-policy' %}" rel="nofollow noopener">Terms and Conditions</a>
            <a href="{% url 'cookie-policy' %}" rel="nofollow noopener">Cookies Policy</a>
        </div>
        <div class="socials">
            <a href="https://www.facebook.com/groups/noodles.dev"><span class="icon icon-facebook"></span></a>
            <span class="icon icon-twitter"></span>
            <a href="https://www.linkedin.com/in/vladimir-gorea-7570b118/"><span class="icon icon-linkedin"></span></a>
            <span class="icon icon-telegram1"></span>
            <span class="icon icon-reddit-alien"></span>
        </div>
    </section>
    <section class="back-to-top">
        <img src="/static/imgs/back-to-top-arrow.png"/>
        <h4>Back to Top</h4>
    </section>
</footer>