{% extends 'frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
    <header>
        <div class="content">
            <h1>turn noodles into code</h1>
            <p>a community curated collection of tutorials and courses on web development</p>
            {% include 'study_resource/search_bar_section.html' %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="homepage">
        {#        <section class="header">#}
        {#            <h1>Homepage</h1>#}
        {#        </section>#}

        <section class="filtering collapsible">
            <div href="#" class="collapse-toggle">Toggle Filters</div>
            <div class="collapsible-content">
                <form action="{% url 'search' %}" method="GET">
                    {{ filter.form | crispy }}
                    <button class="btn submit" type="submit">Filter</button>
                </form>
            </div>
        </section>

        <section class="results-container">

            <h3>Most appreciated:</h3>
            <div class="results-selection">
                {% for result in most_appreciated %}
                    <div class="result">{% include 'study_resource/result.html' %}</div>
                {% endfor %}
            </div>

            <h3>Latest added:</h3>
            <div class="results-selection">
                {% for result in latest %}
                    <div class="result">{% include 'study_resource/result.html' %}</div>
                {% endfor %}
            </div>

        </section>

    </section>
{% endblock %}

{% block extra_js %}

{% endblock %}