{% extends 'frontend/base.html' %}
{% load static %}

{% block meta_tags %}
    <title>Noodles.dev - homepage</title>
    <meta name="description"
          content="Browse through a community curated collection of tutorials and courses on software development"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
{#    <section id="homepage-app">#}
{#        <section class="tab-navigation">#}
{#            <div class="tab-headers">#}
{#                <div class="skeleton header sm"></div>#}
{#                <div class="skeleton header sm"></div>#}
{#                <div class="skeleton header sm"></div>#}
{#            </div>#}
{#            <div class="skeleton search-bar-big"></div>#}
{#            <div class="resources">#}
{#                <div class="filters">#}
{#                    <div class="skeleton filter-select"></div>#}
{#                    <div class="skeleton filter-select"></div>#}
{#                    <div class="skeleton filter-select"></div>#}
{#                    <div class="skeleton filter-select"></div>#}
{#                    <div class="skeleton filter-select"></div>#}
{#                    <div class="skeleton filter-select"></div>#}
{#                </div>#}
{#                <div class="skeleton header sm"></div>#}
{#                <div class="results">#}
{#                    <div class="skeleton result"></div>#}
{#                    <div class="skeleton result"></div>#}
{#                    <div class="skeleton result"></div>#}
{#                    <div class="skeleton result"></div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <section id="related" class="column-container">#}
{#            <div class="skeleton header sm"></div>#}
{#            <div class="tags">#}
{#                <span class="skeleton tag"></span>#}
{#                <span class="skeleton tag"></span>#}
{#                <span class="skeleton tag"></span>#}
{#            </div>#}
{#            <div class="skeleton header sm"></div>#}
{#            <div class="tags">#}
{#                <span class="skeleton tag"></span>#}
{#                <span class="skeleton tag"></span>#}
{#                <span class="skeleton tag"></span>#}
{#            </div>#}
{#            <div class="skeleton header sm"></div>#}
{#            <div class="skeleton result"></div>#}
{#            <div class="skeleton result"></div>#}
{#            <div class="skeleton result"></div>#}
{#        </section>#}
{#    </section>#}
{% endblock %}

{% block extra_js %}
{#        <script src="{% static 'homepage-app.js' %}"></script>#}
{% endblock %}