{% extends 'frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_tags %}
    <title>Noodles.dev - homepage</title>
    <meta name="description"
          content="Browse through a community curated collection of tutorials and courses on software development"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block header %}
    <header>
        <div class="content">
            <h1>turn noodles into knowledge</h1>
            <p>a community curated collection of tutorials and courses on software development</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="homepage">
        {#        <section class="header">#}
        {#            <h1>Homepage</h1>#}
        {#        </section>#}


        {% include 'frontend/filter.html' with filter_url='search' %}
        <section class="results-container column-container">

            <h3>Collections:</h3>
            <div class="results-selection tile-container">
                {% for result in collections %}
                    {% include 'study_collection/result.html' %}
                {% endfor %}
            </div>

            <h3>Most appreciated:</h3>
            <div class="results-selection tile-container">
                {% for result in most_appreciated %}
                    {% include 'study_resource/result.html' %}
                {% endfor %}
            </div>

            <h3>Latest added:</h3>
            <div class="results-selection tile-container">
                {% for result in latest %}
                    {% include 'study_resource/result.html' %}
                {% endfor %}
            </div>

            <h3>Problems:</h3>
            <div class="results-selection tile-container" id="problems-app">
                {% for p in problems %}
                    {% include 'problem_solution/problem/result.html' with result=p %}
                {% endfor %}
            </div>

            <h3>Solutions:</h3>
            <div class="results-selection tile-container" id="solutions-app">
                {% for s in solutions %}
                    {% include 'problem_solution/solution/result.html' with result=s %}
                {% endfor %}
            </div>
        </section>

    </section>
{% endblock %}

{% block extra_js %}

{% endblock %}