{% load i18n %}

<nav>
    <div class="left-side">
        {% if user.is_authenticated %}
            <a rel="nofollow noopener" href="#" onclick="toggle_sidebar()">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                </svg>
            </a>
        {% endif %}
        <a href="{% url "homepage" %}">noodles</a>
    </div>

    <div class="right-side collapsible">
        <a rel="nofollow noopener" href="#" class="collapse-toggle"><span class="icon-angle-down"></span></a>
        <div class="right-side collapsible-links">
            {% if not hide_navbar_search %}
            <section class="navbar-search-bar">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="contains"
                           placeholder="Search for a tutorial or course..."
                           required value="{% if filter.data.contains %}{{ filter.data.contains }}{% endif %}"/>
                    <button><span class="icon-search"> </span></button>
                </form>
            </section>
            {% endif %}

            <div class="dropdown hidden">
                    <a rel="nofollow noopener" class="dropdown-button" href="#">{% trans "Add" %} <span class="icon-angle-down"></span></a>
                    <div class="dropdown-menu">
                        <a rel="nofollow noopener" href="{% url "create-resource" %}">Learning Resource</a>
                        <a rel="nofollow noopener" href="{% url "problem-create" %}">Problem</a>
                    </div>
                </div>

            {% if user.is_authenticated %}
                <div class="dropdown hidden">
                    <a rel="nofollow noopener" class="dropdown-button" href="#">{% trans "Account" %} <span class="icon-angle-down"></span></a>
                    <div class="dropdown-menu">
                        <a rel="nofollow noopener" href="#" id="signout_button">{% trans 'Sign Out' %}</a>
                        <div class="dropdown submenu hidden">
                            <a rel="nofollow noopener" class="dropdown-button" href="#">{% trans "Settings" %} <span
                                    class="icon-angle-down"></span></a>
                            <div class="dropdown-menu">
                                <a rel="nofollow noopener" href={% url "account_email" %}>{% trans "change email " %}</a>
                                <a rel="nofollow noopener" href={% url "account_change_password" %}>{% trans "change password" %}</a>
                                <a rel="nofollow noopener" href={% url "socialaccount_connections" %}>{% trans "change social accounts" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function getCsrfToken() {
                        let value = "; " + document.cookie;
                        let parts = value.split("; csrftoken=");
                        if (parts.length === 2) return parts.pop().split(";").shift();
                    }

                    document.getElementById('signout_button').addEventListener('click', e => {
                        e.preventDefault();
                        e.target.innerHTML = '<span class="icon-hour-glass spin-stop"> </span> Wait..';
                        fetch(
                            "{% url 'account_logout' %}",
                            {
                                method: "POST",
                                headers: {
                                    'X-CSRFToken': getCsrfToken(),
                                },
                            }
                        ).then(result => {
                            if (result.ok) {
                                location.reload();
                            } else {
                                alert(result.statusText);
                            }
                        })
                    })
                </script>
            {% else %}
                <a rel="nofollow noopener" href="{% url "account_login" %}">Sign In</a>
            {% endif %}

        </div>
    </div>
</nav>