{% load i18n %}

<nav>
    <div class="left-side" id="nav-logo">
        <a rel="nofollow noopener" href="#" onclick="toggle_sidebar()" class="collapse-button">
            <svg viewBox="0 0 100 80" width="40" height="40">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
            </svg>
        </a>
        <a class="navbar-logo" href="{% url "homepage" %}">Noodles.<span class="blue-text">dev</span></a>
    </div>
    <div id="search-bar-app"></div>
    <div id="profile-app"></div>
</nav>