{% load i18n %}

<nav>
    <div class="left-side">
        <a rel="nofollow noopener" href="#" onclick="toggle_sidebar()" class="collapse-button">
            <svg viewBox="0 0 100 80" width="40" height="40">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
            </svg>
        </a>
        <a class="navbar-logo" href="{% url "homepage" %}">Noodles.<span class="blue-text">dev</span></a>
        <div class="mobile-menu">
            <a rel="nofollow noopener" href="#" onclick="toggle_sidebar()" class="mobile-collapse-button">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                </svg>
            </a>
            <a class="mobile-navbar-logo" href="{% url "homepage" %}">Noodles.<span class="blue-text">dev</span></a>
        </div>
        {% if user.is_authenticated %}
            <div class="left-side-buttons">
                <div class="dropdown hidden">
                    <span class="btn create dropdown-button">Add New</span>
                    <div class="dropdown-menu dropdown-create">
                        <a rel="nofollow noopener" href="{% url "create-resource" %}">
                            <span class="anchor-title">
                                Add resource
                            </span>
                            <span class="anchor-description">
                                An article, tutorial, course or a book about a specific technology
                            </span>
                        </a>
                        <a rel="nofollow noopener" href="{% url "technology-create" %}">
                            <span class="anchor-title">
                                Add technology
                            </span>
                            <span class="anchor-description">
                                Discuss about a programming language
                            </span>
                        </a>
                    </div>
                </div>
                <div class="dropdown hidden">
                    <span class="dropdown-button icon icon-person-circle"></span>
                    <!--<div class="dropdown-menu">
                        <a rel="nofollow noopener" href="#" class="signout_button">{% trans 'Sign Out' %}</a>
                        <a rel="nofollow noopener" href={% url "my-profile-edit" %}>Account</a>
                        <a rel="nofollow noopener" href={% url "my-profile" %}>My Profile</a>
                        <a rel="nofollow noopener" href={% url "my-resources" %}>My Resources</a>
                        <a rel="nofollow noopener" href={% url "my-reviews" %}>My Reviews</a>
                        <a rel="nofollow noopener" href={% url "my-collections" %}>My Collections</a>
                    </div>-->
                    <div class="dropdown-menu-account">
                        <div class="profile">
                            <span class="dropdown-button-icon-mobile icon-person-circle"></span>
                            <div>
                                <a rel="nofollow noopener" href={% url "my-profile" %}>My Profile</a>
                            </div>
                        </div>
                        <div class="other-menu-items">
                            <a rel="nofollow noopener" href={% url "my-profile" %}>Account</a>
                            <a rel="nofollow noopener" href={% url "my-resources" %}>My Resources</a>
                            <a rel="nofollow noopener" href={% url "my-reviews" %}>My Reviews</a>
                            <a rel="nofollow noopener" href={% url "my-collections" %}>My Collections</a>
                            <a rel="nofollow noopener" href="#" class="signout_button">{% trans 'Sign Out' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <span class="icon icon-person-circle"></span> -->
        {% else %}
            <div class="mid-screen-buttons">
                <a href="{% url 'account_login' %}" rel="nofollow noopener"
                   class="signed-out-button uikit-button outlined white">Login</a>
                <a href="{% url 'account_login' %}" rel="nofollow noopener"
                   class="signed-out-button uikit-button filled default">Register</a>
            </div>
            <div class="xs-screen-buttons">
                <a href="{% url 'account_login' %}" rel="nofollow noopener"
                   class="signed-out-button uikit-button outlined white">Login</a>
                <a href="{% url 'account_login' %}" rel="nofollow noopener"
                   class="signed-out-button uikit-button filled default">Register</a>
            </div>
        {% endif %}
    </div>
    <div class="right-side">
        <div id="search-bar-app"></div>
        {% if user.is_authenticated %}
            <div class="right-side">
                {# CREATE DROPDOWN #}
                <div class="dropdown hidden">
                    <span class="btn create dropdown-button">Add New</span>
                    <div class="dropdown-menu dropdown-create">
                        <a rel="nofollow noopener" href="{% url "create-resource" %}">
                            <span class="anchor-title">
                                Add resource
                            </span>
                            <span class="anchor-description">
                                An article, tutorial, course or a book about a specific technology
                            </span>
                        </a>
                        <a rel="nofollow noopener" href="{% url "technology-create" %}">
                            <span class="anchor-title">
                                Add technology
                            </span>
                            <span class="anchor-description">
                                Discuss about a programming language
                            </span>
                        </a>
                    </div>
                </div>
                {# CREATE DROPDOWN END #}

                {# ACCOUNT DROPDOWN #}
                <div class="dropdown hidden">
                    <span class="dropdown-button">
                        <span class="dropdown-button-icon icon-person-circle"></span>
                    </span>
                    <div class="dropdown-menu-account">
                        <div class="profile">
                            <span class="dropdown-button-icon icon-person-circle"></span>
                            <div>
                                <a rel="nofollow noopener" href={% url "my-profile" %}>My Profile</a>
                            </div>
                        </div>
                        <div class="other-menu-items">
                            <a rel="nofollow noopener" href={% url "my-profile" %}>Account</a>
                            <a rel="nofollow noopener" href={% url "my-resources" %}>My Resources</a>
                            <a rel="nofollow noopener" href={% url "my-reviews" %}>My Reviews</a>
                            <a rel="nofollow noopener" href={% url "my-collections" %}>My Collections</a>
                            <a rel="nofollow noopener" href="#" class="signout_button">{% trans 'Sign Out' %}</a>
                        </div>
                    </div>
                </div>
                {# ACCOUNT DROPDOWN END #}

            </div>
            <script>
                function getCsrfToken() {
                    let value = "; " + document.cookie;
                    let parts = value.split("; csrftoken=");
                    if (parts.length === 2) return parts.pop().split(";").shift();
                }

                const sign_out_buttons = document.getElementsByClassName('signout_button')
                for (i = 0; i < sign_out_buttons.length; i++) {
                    sign_out_buttons[i].addEventListener('click', e => {
                        e.preventDefault();
                        e.target.innerHTML = '<span class="icon-hour-glass spin-stop"> </span> Wait..';
                        fetch(
                            "{% url 'account_logout' %}",
                            {
                                method: "POST",
                                headers: {
                                    'X-CSRFToken': getCsrfToken(),
                                },
                            }
                        ).then(result => {
                            if (result.ok) {
                                location.reload();
                            } else {
                                alert(result.statusText);
                            }
                        })
                    })
                }
            </script>
        {% else %}
            <a href="{% url 'account_login' %}" rel="nofollow noopener"
               class="signed-out-button btn secondary">Login</a>
            <a href="{% url 'account_login' %}" rel="nofollow noopener"
               class="signed-out-button btn">Register</a>
        {% endif %}
    </div>
    </div>
</nav>