<aside class="sidebar" id="sidebar">
    <div class="sidebar">
        <!-- <div class="top-section">
            <a href="#" rel="nofollow noopener" onclick="toggle_sidebar()" class="collapse-button">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="20"></rect>
                    <rect y="30" width="100" height="20"></rect>
                    <rect y="60" width="100" height="20"></rect>
                </svg>
            </a>
            <a href="{% url "homepage" %}" class="navbar-logo">Noodles.<span class="blue-text">dev</span></a>
        </div> -->
        <div id="sidebar-app">
            <div class="skeleton links">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
            </div>
        </div>
    </div>
</aside>