section.content {
  display: flex;
}

.auth-container {
  //margin: 50px auto;
  max-width: 500px;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.auth-container h1 {
  margin-bottom: 40px;
}

.socialaccount_providers {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.socialaccount_providers a.socialaccount_provider {
  text-decoration: none;
  padding: 0.3rem;
  text-align: center;
  color: white;
  font-weight: normal!important;
  font-size: 1rem!important;
}

.socialaccount_providers a.socialaccount_provider.google {
  background-color: #DE4931;
}

.socialaccount_providers a.socialaccount_provider.facebook {
  background-color: #395697;
}

.email_list span {
  margin-left: 15px;
}

.email_list span.verified {
  color: darkgreen;
}

.email_list span.unverified {
  color: darkred;
}

.email_list span.primary {
  font-weight: bold;
  color: green;
}


.user-social-accounts span.socialaccount_provider {
  font-weight: bold;
  color: darkblue;
  margin-right: 30px;
}

ul.errorlist li {
  margin: 0.5rem 0;
  color: var(--color-error);
}