main {
  padding: 30px;
  min-height: 80vh;
}

h1, h2, h3, h4, h5 {
  color: $theme-color-accent;
}

h1 {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

p {
  margin-bottom: 0.2rem;
}

a, a:visited {
  text-decoration: none;
  color: $theme-color-accent;
}

a:hover {
  color: $theme-color-main;
  cursor: pointer;
}

.alert {
  margin: 1rem 0;
}

small, .small {
  font-size: 0.875rem;
}

.color-accent {
  color: $theme-color-accent;
}

section.header {
  margin-bottom: 3rem;
}

.waiting-container {
  display: block;
  margin: 1rem 0;
  text-align: center;
  padding: 1rem;
  color: $theme-color-accent;
  border: 1px solid;
  border-radius: 0.25rem;

  span {
    margin: 0 1rem;
  }
}

.btn {
  display: block;
  margin: 0.2rem 0;
  background-color: $theme-color-accent;
  padding: 0.5rem 1rem;
  font-weight: 700 !important;
  border-radius: $radius-small;
  color: #ffffff;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.btn:hover {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)) brightness(110%);
}

.btn.submit.waiting {
  &:hover {
    cursor: not-allowed;
    filter: none;
  }

  > * {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn.create-element {
  background-color: $theme-color-accent;
  width: 250px;
  color: #ffffff;
  padding: 0.5rem;
}

.alert {
  margin-bottom: 0;

  span.close {
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.75rem;
  }

  span.close:hover {
    cursor: pointer;
  }
}


.toolbar {
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > a {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: $theme-color-accent;
  }

  > a.delete {
    color: $danger;
  }

  > a:hover {
    background-color: rgba($theme-color-main, 0.2);
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.alert-toolbar {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > span {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: $theme-color-accent;
  }

  > span:hover {
    background-color: rgba($theme-color-main, 0.2);
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
  }
}


.confirm {
  color: $danger;

  .option {
    margin: 0.35rem;
  }

  .option:hover {
    color: $theme-color-accent;
    border-bottom: 1px solid $theme-color-accent;
    cursor: pointer;
  }
}

.rating {
  font-size: 0.65rem;
  color: $theme-color-accent;
  margin-bottom: 0.3rem;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

  div {
    border: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }

  a, a:visited {
    color: $theme-color-main;
  }

  a:hover {
    color: $theme-color-accent;
    cursor: pointer;
  }

  .voted {
    a, a:visited {
      color: $theme-color-accent;
    }

    a:hover {
      color: $theme-color-main;
    }
  }
}

.tags {
  font-size: 0.75rem;
  display: inline-block;

  span {
    color: $text-muted;
  }

  a, a:visited {
    color: $theme-color-main;
  }

  .tag, .tech {
    display: inline-block;
    padding: 0.125rem 0.35rem;
    margin: 0.125rem 0.125rem;
  }

  .tag:hover, .tech:hover {
    cursor: pointer;
    color: $theme-color-accent;
    background-color: #ffffff;
  }

  .tag {
    background-color: lighten($theme-color-accent, 50%);
  }

  .tech {
    background-color: lighten($theme-color-accent, 40%);
  }
}

img {
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: scale-down;
}