.dropdown .dropdown-menu {
    z-index: $dropdown-zindex;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: $nav-height;
    background-color: $dropdown-bg;
    overflow: hidden;
    height: auto;
    transform-origin: top center;
}

.dropdown.submenu .dropdown-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown.submenu .dropdown-menu {
    position: static;
    display: flex;
    background-color: lighten($dropdown-bg, 10);
}

.dropdown .dropdown-menu a:hover {
    background-color: $dropdown-hover-bg;
    color: $dropdown-hover-text;
}

.dropdown.hidden .dropdown-menu {
    display: none;
}

.icon-angle-down {
    transition: transform 0.3s;
    display: inline-block;
}

.dropdown:not(.hidden) > .dropdown-button .icon-angle-down {
    transform: rotate(-180deg);
}


.dropdown .dropdown-menu a.selected::before {
    content: '> ';
}

.dropdown .dropdown-menu a.selected::after {
    content: ' <';
}