nav {
  background-color: var(--color-background-1);
  line-height: $fontsize-big;
  font-size: $fontsize-big;
  font-weight: 700;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: $nav-padding;
  box-shadow: inset 0px -1px 0px #2F2F2F;
}

#navbar-logo {
  padding: $padding-unit*2;
}

nav .left-side {
  margin: -$nav-padding;
  align-items: center;
}

nav .right-side {
    align-items: center;
}

nav .right-side > * {
  margin-right: $nav-padding;
}

nav a {
  display: inline-block;
  padding: $nav-padding;
  text-decoration: none;
  color: var(--color-text-white);
}

nav a.collapse-button {
  padding: $nav-padding;
}

nav a, nav a:visited, nav a:active {
  color: var(--color-text-white);
}

nav a > svg {
  fill: var(--color-text-white);
}

nav a:hover {
  background-color: var(--color-background-3);
  color: var(--color-text-white);
}

nav a:hover > svg {
  fill: var(--color-text-white);
}

nav .left-side, .right-side {
  display: flex;
}

nav {
  section.navbar-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    form {
      flex-grow: 1;
      display: block;
      margin: 0;

      button {
        padding: 0.25rem;
        position: relative;
        margin-top: -1.55rem;
        margin-right: 0.10rem;
        float: right;
        color: var(--color-blue);
        background-color: #ffffff;
        border-radius: 0.125rem;
      }

      button:hover {
        color: #ffffff;
        background-color: $theme-color-accent;
      }

      input {
        padding: 0.15rem 1.5rem 0.15rem 1rem;
        border-radius: 0.125rem;
        width: 100%;
      }
    }
  }
}

