ul.pagination {
  margin-top: 1rem;
  text-align: center;

  li:last-child {
    margin-right: 0;
  }

  li {
    display: inline;
    margin-right: 0.25rem;

    a, a:visited {
      text-decoration: none;
      padding: 0.3rem 0.5rem;
      border: 1px lighten($theme-color-accent, 20) solid;
      color: $theme-color-accent;
    }

    a:hover {
      background-color: $theme-color-accent;
      color: $theme-color-main-contrast;
      cursor: pointer;
    }
  }

  li.active {
    background-color: $theme-color-accent;
    color: $theme-color-main-contrast;
    padding: 0.3rem 0.5rem;
    border: 1px lighten($theme-color-accent, 20) solid;
  }
}