#search-window {
  z-index: $modal-content-zindex;
  position: absolute;

  left: 0;
  top: 50px;
  width: 100%;

  background-color: $theme-color-main;
  color: $color-text-white;

  .results {
    display: flex;
    flex-direction: column;
    padding: 16px;

    a.result {
      display: block;

      //.rating {
      //  font-size: 0.85rem;
      //  color: #309287;
      //}
    }
  }
}