{% load i18n %}

<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <form class="form-inline" action="">
            <div class="form-group">
            <label for="language">{% trans "Language" %}</label>
            <select name="language" id="set_language" class="form-control ml-sm-2">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
            </div>
          </form>
      </li>
    </ul>
  </div>
</nav>

{% block extra_js %}
    <script>
        document.getElementById("set_language").addEventListener('change', (event)=>{
            document.cookie = "django_language="+event.target.value+";path='/';max-age="+60*60*24*365;
            document.location.reload();
        });
    </script>
{% endblock %}