{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/min.css' %}">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.min.css"%}">
    <link rel="stylesheet" href="{% static "authentication/main.css"%}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'allauth/topbar.html' %}
    <div class="container">

        <div class="card auth-container">
        <div class="card-body">

        {% block content %}{% endblock %}

        </div>
        </div>
    </div>

{% block extra_js %}{% endblock %}
</body>
</html>