<h1 class="title" itemProp="name">
    {{ result.name }}
</h1>

<div class="group">
    <p class="summary" itemProp="abstract">{{ result.description }}</p>
    <p class="publication-date">Created by {{ result.author.get_full_name }}</p>
</div>

<div class="tags" itemProp="keywords">
    <span>Tags: </span>
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}"><span></span>{{ tag }}</a>
    {% endfor %}
</div>

<div class="tags" itemProp="keywords">
    <span>Tech: </span>
    {% for tech in result.technologies.all %}
        <a class="tech" href="{{ tech.absolute_url }}">{{ tech }}</a>
    {% endfor %}
</div>