{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.summary }}"/>
    <meta name="keywords" content="




            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}{% for tech in result.studyresourcetechnologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Homepage</a> / Collections /
        <a href="{{ result.absolute_url }}">{{ result.name }}</a>
    </div>
    <div class="detail-page collection">
        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                {% include 'study_collection/detail.html' %}
                {% include 'vote_not_logged.html' with resource=result %}
            </section>
            <section id="items" class="column-container">
                <h4>Resources</h4>
                {% for item in  study_resources %}
                    {% include 'study_resource/result.html' with result=item %}
                {% endfor %}
            </section>
        </div>
        {% include 'study_collection/right_side.html' %}
    </div>
{% endblock %}