{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ detail.name }}</title>
    <meta name="description" content="{{ detail.description }}"/>
    <meta name="keywords" content="
            {% for tag in detail.tags.all %}{{ tag }}, {% endfor %}{% for tech in detail.technologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const RESOURCE_ID = {{ detail.id }};
        const RESOURCE_AUTHOR_ID = {{ detail.author.id }};

        const TAGS_OPTIONS_API = "{{ urls.tag_options_api }}";
        const TECH_OPTIONS_API = "{{ urls.tech_options_api }}";

        const MANAGE_COLLECTIONS_URL = "{% url 'my-collections' %}"
        const COLLECTIONS_API = "{{ urls.collections_api }}";
        const RESULT = {
            thumbs_up_array: JSON.parse("{{ thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ thumbs_down_array }}"),
            vote_url: "{{ urls.vote_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > Collections > <a href="{{ detail.absolute_url }}">{{ detail.name }}</a>
    </div>
    <div class="detail-page collection">
        <section id="detail" class="card" itemprop="itemReviewed" itemscope
                 itemtype="https://schema.org/CreativeWork">
            {% include 'study_collection/detail.html' %}
            <div id="votes-app" class="thumbs"></div>
        </section>
        {% include 'study_collection/right_side.html' %}
        <div class="column-container bottom">
            {% include 'detail_resources.html' with sub_text="Resources in this collection. Add a resource here from the resource detail page." %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/votes.js' %}"></script>
{% endblock %}