{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.summary }}"/>
    <meta name="keywords" content="{% for tag in result.tags.all %}{{ tag }}, {% endfor %}{% for tech in result.technologies_set.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const USER_ID = {{ user.id }};
        const RESOURCE_ID = {{ result.id }};
        const RESOURCE_AUTHOR_ID = {{ result.author.id }};

        const TAGS_OPTIONS_API = "{{ urls.tag_options_api }}";
        const TECH_OPTIONS_API = "{{ urls.tech_options_api }}";

        const MANAGE_COLLECTIONS_URL = "{% url 'my-collections' %}"
        const COLLECTIONS_API = "{{ urls.collections_api }}";
        const RESULT = {
            thumbs_up_array: JSON.parse("{{ thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ thumbs_down_array }}"),
            vote_url: "{{ urls.vote_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> / Collections /
        <a href="{{ result.absolute_url }}">{{ result.name }}</a>
    </div>
    <div class="detail-page collection">
        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                {% include 'study_collection/detail.html' with result=result %}
                <div id="votes-app" class="thumbs"></div>
            </section>
            <section id="items" class="column-container">
                <h4>Resources</h4>
                {% for item in  study_resources %}
                    {% include 'study_resource/result.html' with result=item %}
                {% endfor %}
            </section>
        </div>
        {% include 'study_collection/right_side.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'votes.js' %}"></script>
    <script src="{% static 'related-app.js' %}"></script>
{% endblock %}