<header>
    <div class="left-side">
        <img src="{{ result.logo.medium }}" alt="">
        <h1 class="title" itemProp="name">{{ result.name }}</h1>
    </div>
</header>

<span class="published">{{ result.created_at }} By {{ result.author }}</span>
<span class="published">{{ result.items_count }} Resources</span>

<p class="description" itemProp="abstract">{{ result.description }}</p>

<div class="tags" itemProp="keywords">
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tab=collections&tags={{ tag }}"># {{ tag }}</a>
    {% endfor %}
</div>