.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $padding-unit-md;
  margin: 0;
  background-color: var(--color-blue);
  color: var(--color-text-white);
  padding: $fontsize-big/2 $fontsize-big*1.75;
  font-weight: 700 !important;
  border-radius: $radius-small;
  cursor: pointer;
  transition: background-color 0.3s ease;

  span.icon {
    font-size: $fontsize-sm;
    font-weight: 800 !important;
  }
}

.btn:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-text-white);
}

.btn.secondary {
  background-color: var(--color-background-2);
}

.btn.secondary:hover {
  background-color: var(--color-text-gray);
  color: var(--color-text-white);
}

.btn.create {
  background-color: #576EFF;
  border-radius: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: normal;
}

.btn.create:hover {
  background-color: #4359EA;
}

.btn.submit.waiting {
  &:hover {
    cursor: not-allowed;
    filter: none;
  }

  > * {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn.block {
  width: 100%;
}

.btn.dark {
  background-color: var(--color-background);
  color: var(--color-text-white);
}
.btn.dark:hover {
  background-color: var(--color-text-gray-2);
}

.btn[disabled], .btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-background-3);
}