$button-bg: $color-blue;
$button-text: $color-text-white;
$button-hover-bg: #4359EA;
$button-radius: 40px;

$button-secondary-bg: $color-background-1;
$button-secondary-text: $color-text-white;
$button-secondary-hover-bg: $color-background;

$button-light-bg: $color-text-white;
$button-light-text: $color-background-1;
$button-light-hover-bg: $color-text-grey;


$button-dark-bg: $color-background-1;
$button-dark-text: $color-text-white;
$button-dark-hover-bg: $color-background;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $padding-unit-md;
  margin: 0;
  padding: 9px 28px;
  max-width: 150px;
  border-radius: $button-radius;
  background-color: $button-bg;
  font-weight: 600;
  font-size: $fontsize-md;
  color: $button-text;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid $button-bg;

  span.icon {
    font-size: $fontsize-sm;
    font-weight: 800 !important;
  }
}

a.btn:visited {
  color: $button-text;
}

.btn:hover {
  background-color: $button-hover-bg;
}

.btn.secondary {
  border: 1px solid $button-secondary-text;
  color: $button-secondary-text;
  background-color: $button-secondary-bg;
}

.btn.secondary:hover {
  background-color: $button-secondary-hover-bg;
}

.btn.light {
  border: 1px solid $button-light-bg;
  background-color: $button-light-bg;
  color: $button-light-text;
}

.btn.light:hover {
  background-color: $button-light-hover-bg;
}

.btn.dark {
  background-color: $button-dark-bg;
  color: $button-dark-text;
}

.btn.dark:hover {
  background-color: $button-dark-hover-bg;
}

.btn.submit.waiting {
  &:hover {
    cursor: not-allowed;
    filter: none;
  }

  > * {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn.block {
  width: 100%;
}

.btn[disabled], .btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-background-3);
}