$fontsize-big: 1rem !default;                   //16px
$fontsize-md: $fontsize-big * 0.875 !default;   //14px
$fontsize-sm: $fontsize-big * 0.75 !default;    //12px
$fontsize-tn: $fontsize-big * 0.625 !default;   //10px

$padding-unit: $fontsize-big * 0.625; //10px
$padding-unit-big: $fontsize-big;     //16px
$padding-unit-md: $fontsize-sm;       //12px
$padding-unit-sm: $fontsize-tn * 0.8;       //8px

$card-padding: $padding-unit-md;

//radius
$radius-small: 4px;
$radius-medium: 6px;
$radius-big: 8px;

//colors
$color-background: #1A1A1A;
$color-background-1: #242728;
$color-background-2: #303436;
$color-background-3: #3D4143;
$color-background-4: #494E50;
$color-background-5: #555B5E;
$color-text-white: #FFFFFF;
$color-text-grey: #B8C0C5;
$color-text-grey-2: #85A0AD;
$color-blue: #24A0ED;
$color-blue-hover: #3EABEF;
$color-blue-clicked: #118AD4;
$color-blue-disabled: fade_in($color-blue-clicked, 0.5);


// text and general elements
$theme-color-main: #1A1A1A;
$theme-color-main-contrast: #B8C0C5;

// for special elements like buttons
$theme-color-accent: #309287;

//important elements color scheme
//navbar
$nav-padding: $padding-unit-md;
$nav-height: $fontsize-big*2 + $nav-padding*2;


//dropdowns
$dropdown-bg: lighten($theme-color-main, 10);
$dropdown-text: lighten($theme-color-main-contrast, 10);
$dropdown-hover-bg: darken($dropdown-bg, 10);
$dropdown-hover-text: lighten($dropdown-text, 10);

//sidebar
$sidebar-width: $fontsize-big*10;

//z-index
$header-zindex: 1;
$sidebar-zindex: 10000;
$dropdown-zindex: 10000;
$collapsible-zindex: 90000;
$modal-backdrop-zindex: 95000;
$modal-content-zindex: 96000;