main {
    padding: 30px;
    background-color: var(--color-main);
    min-height: 80vh;
}

h1 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

small, .small {
  font-size: 0.875rem;
}