.waiting-container {
  display: block;
  margin: $padding-unit-big 0;
  text-align: center;
  padding: $padding-unit-big;
  color: var(--color-blue);
  border: 1px solid;
  border-radius: $radius-medium;

  span {
    margin: 0 $padding-unit-big;
  }
}

.waiting-inline-container {
  display: block;
  text-align: center;
  padding: $padding-unit-sm;
  color: var(--color-blue);
  background-color: var(--color-background-2);

  span {
    margin: 0 $padding-unit-sm;
  }
}

section.header {
  margin-bottom: $padding-unit-big*3;
}

.alert {
  margin-bottom: 0;

  span.close {
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.75rem;
  }

  span.close:hover {
    cursor: pointer;
  }
}


.toolbar {
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > a {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--color-blue);
  }

  > a.delete {
    color: var(--color-text-red);
  }

  > a:hover {
    background-color: var(--color-background);
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.alert-toolbar {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;

  > span {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--color-blue);
  }

  > span:hover {
    background-color: rgba(var(--color-background-3), 0.2);
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
  }
}


.confirm {
  color: var(--color-text-red);

  .option {
    margin: 0.35rem;
  }

  .option:hover {
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    cursor: pointer;
  }
}

.rating {
  font-size: $fontsize-sm;
  color: var(--color-text-white);

  a {
    color: var(--color-blue);
  }

  .stars {
    color: var(--color-blue);
    margin-right: $padding-unit-sm;
  }
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: $padding-unit-big;

  a, a:visited {
    color: var(--color-blue);
  }

  a:hover {
    color: var(--color-blue-dark);
  }

  .voted {
    a, a:visited {
      color: var(--color-blue);
    }

    a:hover {
      color: var(--color-blue-dark);
    }
  }
}


img {
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: scale-down;
}

.read-more {
  margin-left: $padding-unit;
  color: var(--color-blue);
  cursor: pointer;
}

.semi-footer {
  margin: $padding-unit-big*4 0 $padding-unit-big*2;
  padding: $padding-unit-big $padding-unit-md*2 $padding-unit-big*2;
  background-color: var(--color-blue);
  color: var(--color-text-white);
  font-size: $fontsize-md;
  border-radius: $radius-big;

  h4 {
    margin-bottom: $padding-unit-big;
  }
}

.icon-info {
  color: var(--color-text-grey);
  margin-left: $padding-unit;
  cursor: pointer;
}

.icon-info[data-tooltip]:hover {
  position: relative;
}

.icon-info[data-tooltip]:hover::before {
  all: initial;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color-background);
  content: attr(data-tooltip);
  color: var(--color-text-grey-2);
  position: absolute;
  bottom: 100%;
  width: $fontsize-md*15;
  left: 25%;
  transform: translate(-25%, 0);
  padding: $padding-unit;
  margin-bottom: $padding-unit-md;
  font-size: $fontsize-sm;
}

.icon-info[data-tooltip]:hover::after {
  all: initial;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $padding-unit solid transparent;
  border-right: $padding-unit solid transparent;
  border-top: $padding-unit solid var(--color-background);
  position: absolute;
  bottom: 100%;
  content: '';
  left: 25%;
  transform: translate(-25%, 0);
  margin-bottom: $padding-unit/2;
}

.selectable {
  cursor: pointer;
}

.has-sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $padding-unit-big;

  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }

  .sort {
    display: flex;
    flex-wrap: nowrap;
    gap: $padding-unit;
    align-items: baseline;

    label {
      color: var(--color-text-grey);
    }

    div {
      background-color: var(--color-background);
      color: var(--color-text-white);
      padding: 12px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      border: 1px solid white;

      select {
        appearance: none;
        color: inherit;
        background-color: inherit;
  
        option {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .sort-direction {
      color: var(--color-text-white);
      cursor: pointer;
    }

    .sort-direction:hover {
      color: var(--color-blue);
    }
  }

}

.blue {
  color: var(--color-blue);
}