main .detail-page.resource {
  grid-template-areas:
  "detail related"
  "detail related";

  section#detail {

    #primary-image-container {
      img {
        border-radius: $radius-big;
      }
    }

    .description {
      margin: $padding-unit-md*2 0;
    }

    .resource-url {
    }
  }

  section#reviews {
    animation: grow;
  }
}