main .detail-page {
  display: grid;
  grid-gap: $padding-unit-big;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
  "detail related"
  "bottom bottom";

  .detail-container {
    max-width: $fontsize-big*76;
  }

  section#detail {
    grid-area: detail;
    display: block;
    height: fit-content;

    > * {
      margin-bottom: $padding-unit-md;
    }

    .published {
      display: block;
      font-size: $fontsize-sm;
      font-weight: 400;
      color: $color-text-grey;
    }


    .left {
      max-width: 450px;
      display: flex;
      gap: $padding-unit-sm;
      flex-direction: column;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: $padding-unit-sm;
    }

    header {
      display: flex;
      justify-content: space-between;
      gap: $padding-unit-md;
      margin-bottom: $padding-unit-sm*3;
      flex-wrap: wrap;

      .meta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $padding-unit-sm;
        align-items: center;
      }

      h1.title {
        font-weight: 700;
        font-size: $fontsize-big*1.125;
        line-height: $lineheight-base;
      }

      > * {
        display: inline-block;
      }

      .btn {
        border: 1px solid $color-text-grey;
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
        font-size: $fontsize-md;
        line-height: $fontsize-md*1.4;
        font-weight: 500 !important;
        background-color: $color-background-1;
        white-space: nowrap;

        &.primary {
          background-color: $color-blue;
          border: 1px solid $color-blue;
        }
      }

      .btn:hover {
        background-color: $color-background;
      }

      a.parent-technology {
        display: flex;
        gap: $padding-unit;
        align-items: center;
        max-height: $fontsize-md*2;
      }
    }

    .highlighted {
      color: var(--color-blue);
    }

    .description {
      max-width: $fontsize-big*50;

      > * {
        margin-bottom: $padding-unit;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .description-long {
      h1, h2, h3 {
        font-weight: 600;
        margin: $padding-unit-big 0 $padding-unit;
      }

      h1 {
        font-size: $fontsize-big*1.115;
        border-bottom: 4px solid $color-background;
        margin-top: $padding-unit-big*3;
      }

      h2 {
        font-size: $fontsize-big;
      }

      h3 {
        font-size: $fontsize-md;
        margin: $padding-unit-md 0 $padding-unit-sm;
      }

      p {
        margin: $padding-unit-sm 0;
      }

      ol, ul {
        margin: $padding-unit $padding-unit-big;
        list-style-position: inside;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
      }

      ol li, ul li {
        margin: $padding-unit 0;
      }

      strong, em {
        font-weight: bold;
      }

      hr {
        margin: $padding-unit 0;
        height: $fontsize-md/15;
        background-color: var(--color-background-3);
      }

      table {
        margin: $padding-unit-big;
        color: var(--color-text-white);

        thead {
          th {
            padding: $padding-unit-sm;
            text-align: left;
            border: 1px solid var(--color-text-white);
            background-color: var(--color-background-3);
          }
        }

        tbody td {
          padding: $padding-unit-sm;
          border: 1px solid var(--color-text-white);
        }
      }

    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: $padding-unit-md;
      margin: $padding-unit-sm*2 0;
      flex-wrap: wrap;

      a, a:visited {
        color: $color-text-white;
      }

      #detail-toolbar {
        display: flex;
        flex-wrap: wrap;
        gap: $padding-unit-md;
        align-items: center;
      }

    }

    .waiting-container {
      border: none;
    }
  }

  .bottom {
    grid-area: bottom;
    margin-top: $padding-unit-big*3;

    > * {
      margin-bottom: $padding-unit-big*4;
    }

    .header {
      margin-bottom: $padding-unit-md*2;
    }
  }

  .related {
    .header {
      font-weight: 600;
      font-size: $fontsize-big*1.125;
    }

    .meta-container {
      padding: 10px 20px;

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    .links-container {
      display: flex;
      flex-direction: column;
      gap: $padding-unit;
    }
  }

  .empty-container {
    background-color: #0E0E15;
    border-radius: $radius-big;

    .empty-div {
      background-color: #0E0E15;
      max-width: 250px;

      .empty-text {
        color: $color-text-grey !important;
      }
    }
  }

  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  }

}