main .detail-page.resource {
  grid-template-areas:
  "detail collections"
  "detail related";

  section#detail {

    #primary-image-container {
      margin: -$card-padding;
      margin-bottom: $padding-unit-big*2;
      
      img {
        border-radius: $radius-big $radius-big 0 0;
      }
    }

    #detail-toolbar {
      display: flex;
      align-items: center;
      gap: $padding-unit-big;
    }

    header {
      margin: $padding-unit-big 0;

      .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        #detail-toolbar {
          position: static;
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          white-space: nowrap;
          gap: 10px;
        }
      }

      > * {
        display: block;
      }

      .title {
        margin-top: $padding-unit-md*2;
      }
    }

    .description {
      margin: $padding-unit-md*2 0;
    }

    .resource-url {
      display: inline-block;
      background-color: var(--color-background-2);
    }
  }

  section#reviews {
    animation: grow;

    header {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }

    .review {
      background-color: var(--color-background-3);
    }
  }
}