main .detail-page {
  display: grid;
  grid-gap: $padding-unit-big;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
  "detail related";

  .detail-container {
    max-width: $fontsize-big*76;
  }

  section#detail {
    grid-area: detail;
    display: block;
    height: fit-content;

    > * {
      margin-bottom: $padding-unit-md;
    }

    .published {
      display: block;
      font-size: $fontsize-sm;
      font-weight: 400;
      color: var(--color-text-grey-2);
    }

    header {
      margin: $padding-unit-big 0;
      margin-bottom: $padding-unit-big*2;

      > * {
        display: inline-block;
      }

      .right-side {
        float: right;

        a:visited {
          color: var(--color-text-white);
        }
      }
    }

    .highlighted {
      color: var(--color-blue);
    }

    .description {
      max-width: $fontsize-big*50;

      > * {
        margin-bottom: $padding-unit;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .waiting-container {
      border: none;
    }
  }

  .right-side {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-unit-big;

    > * {
      margin: $padding-unit-big 0;
      //max-width: $fontsize-big*17;

      .btn.see-more {
        display: block;
        text-align: center;
      }
    }
  }

}