main .detail-page.technology {

  section#detail {
    .left {
      flex-direction: row;
      align-items: center;
      gap: $padding-unit-big;

      img {
        background: white;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0.75rem 0.75rem;
      }

      .title-container {
        flex-direction: column;
        gap: $padding-unit-md;
        color: $color-text-grey;

        h1 {
          color: $color-text-white;
          margin-bottom: $padding-unit-sm;
        }
      }
    }
  }
}