footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $padding-unit-md*4;
  margin-top: 3rem;
  min-height: 15rem;
  padding: $padding-unit*6;
  background-color: var(--color-background-1);
  color: var(--color-text-grey);

  section header {
    color: var(--color-text-white);
    font-size: $fontsize-md;
    font-weight: 700;
  }

  a {
    color: var(--color-text-grey);
    white-space: nowrap;
  }

  a:hover {
    color: var(--color-blue);
  }

  section.about {
    min-width: $fontsize-md*20;
    max-width: $fontsize-md*40;
  }

  section.links {
    display: flex;
    flex-direction: column;
    gap: $padding-unit*2;

    a {
      line-height: $padding-unit*2;
      font-size: $fontsize-md;
      font-weight: 400;
    }
  }

  section.social {
    .links {
      display: flex;
      flex-direction: column;
      gap: $padding-unit*2;
    }
  }

}