.form-container {
  position: relative;
  background-color: var(--color-background-3);
  padding: $padding-unit;
  border-radius: $border-radius-lg;

  .header {
    margin-bottom: 2rem;
  }
}

form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > * {
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    > * {
      flex-grow: 1;
    }

    .form-group input {
      flex-grow: 0;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    input {
      flex-grow: 1;
    }
  }

  button.submit {
    align-self: flex-end;
  }

  #form_rating_stars span {
    color: var(--color-blue);
  }

  #form_rating_stars span:hover {
    color: var(--color-blue-dark);
  }

  .invalid-feedback {
    display: block;
  }

  .form-control_invalid__control {
    border-color: var(--color-text-red);
  }

}

.form-multistep-container {
  ul.progress {
    margin-bottom: $padding-unit-big;
  }
}

ul.progress {
  display: flex;
  justify-content: space-between;

  li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 2%;
    color: var(--color-text-grey-2);
    cursor: pointer;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
  }

  li:first-child {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 0 50%);
  }

  li:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
  }

  li.completed {
    color: #ffffff;
    background-color: var(--color-blue);
  }

  li.active {
    color: #ffffff;
    background-color: var(--color-blue-dark);
  }

}

.form-group .ss-main {
  .ss-single-selected, .ss-multi-selected {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: 0.25rem;
  }
}



.form-control {
  background-color: var(--color-background);
  color: var(--color-text-white);
  border: 1px solid var(--color-background);
}

.form-control:focus {
  color: var(--color-text-white);
  background-color: var(--color-background);
}