.form-container {
  position: relative;
  background-color: var(--color-background-1);
  padding: $padding-unit;
  border-radius: $border-radius-lg;

  .header {
    margin-bottom: 2rem;
  }
}

form {
  margin: $padding-unit-big;
  display: flex;
  flex-direction: column;
  gap: $padding-unit-md*2;

  > * {
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    > * {
      flex-grow: 1;
    }

    .form-group input {
      flex-grow: 0;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label {
      font-size: $fontsize-md;
      margin-bottom: $padding-unit-md;
    }

    input {
      flex-grow: 1;
    }

    input, textarea {
      color: var(--color-text-grey);
    }
  }

  button.submit {
    align-self: flex-end;
  }

  #form_rating_stars span {
    color: var(--color-blue);
  }

  #form_rating_stars span:hover {
    color: var(--color-blue-dark);
  }

  .invalid-feedback {
    display: block;
  }

  .form-control_invalid__control {
    border-color: var(--color-text-red);
  }

}

.form-multistep-container {
  ul.progress {
    margin-bottom: $padding-unit-big;
  }
}

ul.progress {
  display: flex;
  justify-content: space-between;

  li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 2%;
    color: var(--color-text-grey-2);
    cursor: pointer;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
  }

  li:first-child {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 0 50%);
  }

  li:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
  }

  li.completed {
    color: #ffffff;
    background-color: var(--color-blue);
  }

  li.active {
    color: #ffffff;
    background-color: var(--color-blue-dark);
  }

}

.form-group .ss-main {
  .ss-single-selected, .ss-multi-selected {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: 0.25rem;
  }
}

textarea {
  resize: vertical;
}


.form-control {
  background-color: var(--color-background);
  color: var(--color-text-white);
  border: 1px solid var(--color-background);
}

.form-control:focus {
  color: var(--color-text-white);
  background-color: var(--color-background);
  border-color: var(--color-blue);
}

.react-select {
  color: var(--color-text-grey);
  font-size: $fontsize-md;

  .form-control__placeholder {
    font-size: $fontsize-md;
  }

  .form-control__indicator-separator {
    display: none;
  }

  .form-control__control {
    background-color: var(--color-background);
    border: none;
    border-radius: $radius-medium;
  }

  .form-control__value-container, .form-control__single-value {
    color: var(--color-text-white);
  }

  .form-control__value-container, .form-control__value-container--is-multi {
    background-color: var(--color-background);
  }

  .form-control__multi-value {
    background-color: var(--color-background-3);
    border-radius: $radius-medium;
  }

  .form-control__multi-value__label {
    color: var(--color-text-grey);
  }

  .form-control__input {
    color: var(--color-text-white);
  }

  .form-control__control--is-disabled {
    background-color: var(--color-background-2);

    .form-control__indicator.form-control__dropdown-indicator {
      color: var(--color-background-4);
    }

    .form-control__value-container {
      background-color: var(--color-background-2);

      .form-control__single-value {
        color: var(--color-background-4);
        font-style: italic;
      }
    }
  }

  .form-control__multi-value__remove {
    color: var(--color-text-grey);
    cursor: pointer;
  }

  .form-control__menu {
    background-color: var(--color-background-3);
    border-radius: $radius-big;

    .form-control__option, .form-control__option--is-selected {
      color: var(--color-text-white);
    }

    .form-control__option--is-focused {
      color: var(--color-background-1);
    }
  }
}

.study-resource-technologies {
  margin-bottom: $padding-unit;

  .header {
    margin-bottom: $padding-unit-md;
  }

  .technology-version {
    display: grid;
    gap: $padding-unit-sm;
    grid-template-columns: minmax($fontsize-md*6, $fontsize-md*20) minmax($fontsize-md*4, $fontsize-md*7) $fontsize-md;
    align-items: center;

    a.remove, a.remove:visited {
      color: var(--color-background-3);
    }

    a.remove:hover {
      color: var(--color-text-red);
    }
  }

  .buttons-container {
    display: inline-flex;
    margin-top: $padding-unit-md*2;
  }
}

.image-input-component {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $padding-unit-big;
  }

  img {
    border-radius: $radius-medium;
  }

  .flexible {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-unit;
    justify-content: space-between;
    align-items: flex-start;

    .input-option {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: $padding-unit-big;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: $padding-unit;
        min-width: $fontsize-big*15;
      }

      .option-container {
        white-space: nowrap;
      }
    }

    img.selected {

    }
  }
}