#homepage-app {
  display: grid;
  grid-gap: $padding-unit-big;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
  "search related";


  .resources, .collections, .technologies {
    .most-voted, .latest {
      margin-bottom: $padding-unit-big*3;
    }
  }
}