#homepage-app {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
  }

  .resources, .collections, .technologies {
    .most-voted, .latest {
      margin-bottom: $padding-unit-big*3;
    }
  }

  .banner-section {
    width: 100%;
    margin-bottom: 4rem;

    .banner {
      width: 100%;
      height: 260px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border-radius: 10px;
      background-image: linear-gradient(to right, #542199, #6a3995, #462da8, #3c1e6b);

      h2 {
        margin-bottom: 1.3rem;
      }
    }
  }

  .featured-categories-section {
    display: flex;
    flex-direction: column;

    .featured-categories-section-title {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;
    }

    .featured-categories-container {
      .call-to-action-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .call-to-action {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #1E1E2B;
          border-radius: 10px;
          text-align: center;

          img {
            max-height: 60px;
            margin-bottom: 1.5rem;
          }

          h2 {
            font-weight: bold;
            font-size: 21px;
            line-height: 26px;
            margin-bottom: 2rem;
          }
        }

        .contribute-container {
          background: #CBDDFF;
          border: 2px solid #77A3F4;
        }

        .add-tutorial-container {
          background: #D2CBFF;
          border: 2px solid #77A3F4;
        }
      }
    }
  }

  .technolgies-and-concepts-section {
    .concepts-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .concepts-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
      }

      .concepts-cards-container {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
      }
    }

    .featured-technologies-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .featured-technologies-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
      }

      .add-technology {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FAE1A1;
        border: 2px solid #FCD46F;
        box-sizing: border-box;
        border-radius: 10px;
        color: #1E1E2B;
        text-align: center;
        margin-bottom: 1.6rem;

        img {
          max-height: 60px;
          margin-bottom: 1.5rem;
        }

        h2 {
          font-weight: bold;
          font-size: 21px;
          line-height: 26px;
          margin-bottom: 2rem;
        }
      }

      .featured-tech-cards-container {
        width: 100%;
        margin-bottom: 1rem;
        .see-more-small {
          background: #363845;
          border-radius: 8px;
          color: #96A4FF;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .tech-card {
          display: flex;
          align-items: center;
          background: #27293B;
          border-radius: 8px;

          img {
            margin-right: 12px;
          }

          .tech-summary{
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
              font-size: 18px;
              line-height: 22px;
              color: #FFFFFF;
              margin-bottom: 0px;
            }

            p {
              font-size: 14px;
              line-height: 22px;
              color: #C5C9E1;
            }
          }
        }
      }

      .see-more-large {
        width: 100%;
        height: 72px;
        background: #363845;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// separating responsiveness for this so we can keep
// better track of it
@media only screen and (max-width: 1799px) and (min-width: 960px) {
  main {
    .technolgies-and-concepts-section {
      justify-content: space-around;
      display: flex;
    }
  }
}

@media only screen and (min-width: 1800px) {
  main {
    .technolgies-and-concepts-section {
      display: grid;
      grid-template-columns:
        [col1] 0.5fr [col2] 0.5fr [col3] 1fr [col4] 0.5fr 
        [col5] 1fr [col6] 0.5fr [col7] 1fr [col8] 0.8fr 
        [col9] 1.2fr[end];
        .featured-technologies-container {
          grid-column-start: col2;
          grid-column-end: col5;
        }

        .concepts-container {
          grid-column-start: col6;
          grid-column-end: col9;
        }
    }
  }
}

@media only screen and (min-width: 960px) {
  main {
    .featured-categories-section {
      margin-bottom: 72px;
      .featured-categories-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3rem;

        .featured-categories-cards-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1.5rem;
        }

        .call-to-action-container {
          .contribute-container {
            height: 496px;
            width: 352px;
          }
          .add-tutorial-container {
            height: 236px;
            width: 352px;
          }
        }
      }
    }

    .technolgies-and-concepts-section {
      .featured-technologies-container {
        .add-technology {
          width: 100%;
          height: 480px;
          display: flex;
        }

        .featured-tech-cards-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;

          .tech-card {
            min-height: 72px;
            padding-left: 20px;
          }
        }
      }

      // .concepts-container {
      //   grid-column-start: col5;
      //   grid-column-end: col8;
      // }
    }
  }
}