main {
  padding: $padding-unit-big*2 $padding-unit-big;
  min-height: 80vh;
}

//.hidden {
//  display: none;
//}

.tab-navigation {
  .tab-headers > * {
    display: inline-block;
    margin-right: $padding-unit*2;
    padding-bottom: $padding-unit-md;
    cursor: pointer;
    color: var(--color-background-5);

    a, a:visited {
      color: var(--color-background-5);
    }
  }

  .tab-headers span.aggregation {
    margin-left: $padding-unit-sm;
    padding: $padding-unit-sm/2;
    font-size: $fontsize-tn;
    background-color: var(--color-background-1);
    color: var(--color-text-white);
    border-radius: $radius-small;
  }

  .tab-headers > *.active {
    color: var(--color-blue);
    border-bottom: $fontsize-sm/4 solid var(--color-blue);

    a, a:visited {
      color: var(--color-blue);
    }
  }

  .tab-content {
    padding-top: $padding-unit*3;
  }

  .tab-content > * {
    display: none;
  }

  .tab-content > *.active {
    display: block;
  }

}


.full-page-sm {
  max-width: 450px;
  margin: auto;
}

.full-page-md {
  max-width: 650px;
  margin: auto;
}

.full-page-lg {
  max-width: 850px;
  margin: auto;
}

.full-page-xl {
  max-width: 1050px;
  margin: auto;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tile-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  position: relative;
  padding: $card-padding;
  background-color: var(--color-background-1);
  border-radius: $radius-big;
  overflow: initial;
}

.success-card {
  padding: $fontsize-sm*4 $padding-unit-big;
  justify-content: center;
  text-align: center;

  #confetti-canvas {
    position: absolute;
    margin-left: -$padding-unit-big;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  header, .body, .buttons-container {
    z-index: 10;
  }

  header {
    font-size: $fontsize-sm*2;
    font-weight: 700;
    line-height: $fontsize-tn*3;
    margin-bottom: $fontsize-sm;
  }

  .body {
    font-size: $fontsize-md;
    margin-bottom: $fontsize-big*2;
    color: var(--color-text-grey);
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: $padding-unit-sm;
    justify-content: center;
  }

}