.result.resource {
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  gap: $padding-unit-md;

  .left {
    display: flex;
    flex-direction: column;
    max-width: $fontsize-big*25;
    min-width: $fontsize-big*15;
    margin-bottom: 0;

    .rating {
      padding-top: 0;
    }
  }

  .published {
    .tags {
      display: inline-block;
    }
  }

  .rating {
    margin-bottom: $padding-unit-big;
  }

  .right {
    max-width: $fontsize-big*17;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: $radius-small;
    }
  }

}