.result {
  display: flex;
  flex-direction: column;
  color: var(--color-text-white);
  overflow: hidden;

  > * {
    margin-bottom: $padding-unit-md;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .tags {
    margin: 0;
  }

  .listing-title {
    margin: $padding-unit-big 0;
    display: flex;
    flex-direction: column;
    gap: $padding-unit;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: 700;
    line-height: $fontsize-big*1.25;
    font-size: $fontsize-big;

    .title {
      a, a:visited {
        color: $color-text-white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .published {
    font-size: $fontsize-sm;
    font-weight: 400;
    color: $color-text-grey-2;
  }

  .description {
    font-size: $fontsize-md;
    margin-bottom: $padding-unit-big*1.5;
  }

  .rating {
    padding-top: $padding-unit-md;
  }

  .thumbs {
    position: absolute;
    justify-content: flex-end;
    margin: 0;
    right: $padding-unit-big;
    bottom: $padding-unit-big*1.5;
  }
}

.result:hover {
  color: var(--color-text-white);
}

.result-minimal {
  padding: $padding-unit-md;
  display: flex;
  flex-direction: row;
  gap: $padding-unit-big;
  border-radius: $border-radius;
}