.result {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $padding-unit-md;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  .listing-title {
    display: flex;
    gap: $padding-unit;
    flex-wrap: wrap;
    align-items: baseline;

    .published {
      font-size: $fontsize-sm;
      font-weight: 400;
      color: var(--color-text-grey-2);
    }
  }

  .description {
    font-size: $fontsize-md;
  }

  .rating {
    padding-top: $padding-unit-md;
  }
  .thumbs {
    justify-content: flex-end;
  }
}