.history-result {
  .changes {
    display: flex;
    flex-direction: column;
    gap: $padding-unit-md;
    .change {
      display: flex;
      flex-direction: column;
      gap: $padding-unit-sm;
      padding: $padding-unit-sm;
      border-radius: $radius-small;
      background-color: var(--color-background);
      .field {
        font-weight: 700;
      }
    }
  }
}