.my-reviews-page {
  .resource-review-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.25rem;
    position: relative;

    .result {
      padding: 0;
    }

    .review {
      margin-top: 1rem;
      padding: 0;
    }
  }
}