.navbar-logo {
  padding: $padding-unit*2 $padding-unit-big/2;
  padding-left: 0;
  line-height: $fontsize-big;
}

.mobile-navbar-logo {
  padding: $padding-unit*2 $padding-unit-big/2;
  padding-left: 0;
  line-height: $fontsize-big;
}

nav {
  line-height: $fontsize-big;
  font-size: $fontsize-big;
  font-weight: 700;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: $nav-padding;
  white-space: nowrap;

  .signed-out-button {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 132px;
  }

  .left-side {
    margin: -$nav-padding;
    align-items: center;
  }

  .right-side {
    align-items: center;
  }

  .right-side > * {
    margin-right: $nav-padding;
  }

  a {
    display: inline-block;
    padding: $nav-padding;
    text-decoration: none;
    color: var(--color-text-white);
  }

  a.collapse-button {
    padding: $padding-unit*2 0;
  }

  a.mobile-collapse-button {
    padding: $padding-unit*2 0;
  }

  a, a:visited, a:active {
    color: var(--color-text-white);
  }

  a > svg {
    fill: var(--color-text-white);
  }

  a:hover {
    // background-color: var(--color-background-3);
    color: var(--color-text-white);
  }

  a:hover > svg {
    fill: var(--color-text-white);
  }

  .left-side, .right-side {
    display: flex;
  }

  .dropdown .dropdown-menu-account {
    top: 4.25rem;
    right: 3rem;
    min-width: 18rem;
    // min-width: $fontsize-big * 7;
  }
}

