#search-bar-app {
  .navbar-input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    .navbar-search-input {
      border-radius: 20px;
      background-color: #000000;
      height: 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      padding: 8px 24px;
    }

    .icon-search {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      background-color: #576EFF;
      border-radius: 50%;
      z-index: 10;
    }
  }

  .navbar-search-results-overlay {
    //todo
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    top: $nav-height+1rem;
    // max-width: 20rem;
    width: 20rem;
    background-color: $color-background-2;
    border-radius: 8px;
    // padding: 12px;
    justify-content: space-between;

    .small-results {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      gap: 0.75rem;
      margin-bottom: 1rem;

      a {
        padding: 0px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
      }
    }
    .message {
      padding-top: 0.75rem;
      padding-left: 1.5rem;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 22px;
      color: #C5C9E1;
    }
    .result {
      font-size: $fontsize-sm;
    }
  }

  .search-app-overlay {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 4.65rem;
    left: 0;
    right: 0;
    min-height: 100vh;
    z-index: $navbarsearch-zindex;
    padding: $padding-unit-big*2;
    background-color: var(--color-navsearch-app-bkg);

    .close-search {
      width: 944px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      color: #96A4FF;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
      }
    }

    .toolbar {
      right: 1rem;
      top: 1rem;
      font-size: $fontsize-big*1.5;
      color: var(--color-blue-dark);
      span:hover {
        color: var(--color-blue);
        cursor: pointer;
      }
    }

    .tab-navigation.search {
      display: flex;
      flex-direction: column;
      gap: $padding-unit-big*2;
      align-items: center;
    }

    .search-bar-big {
      margin: 0 auto;
      width: 944px;

      .search-input {
        min-height: 52px;
        border-radius: 40px;
        background-color: #000000;
        height: 40px;
        padding: $padding-unit;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 8px 24px;
      }
    }
  }
}

@media only screen and (min-width: 901px) {
  nav {
    .left-side {
      .mobile-menu {
        display: none;
      }

      .mid-screen-buttons {
        display: none;
      }
    }
  }
  #search-bar-app {
    .navbar-input-container {
      width: 382px;
      .navbar-search-input {
        position: relative;
        left: 41px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .right-side {
    a.signed-out-button {
      display: none;
    }
  }
}