#search-bar-app {
  form {
    margin: 0;
    padding: 0;
    gap: 0;
    width: 100%;
  }

  .navbar-input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    position: relative;

    .navbar-search-input {
      border-radius: 20px;
      background-color: #000000;
      height: 40px;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      padding: 8px 24px;
    }

    .navbar-search-input:focus-visible {
      outline-offset: unset;
      outline: unset;
      border: 2px solid $color-blue;
    }

    .icon-search {
      position: absolute;
      display: flex;
      padding: 8px 12px;
      background-color: $color-blue;
      z-index: 10;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      right: 4px;
      top: 4px;
      width: 10px;
      height: 16px;
    }
  }

  .navbar-search-results-overlay {
    z-index: $dropdown-zindex;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    top: 4rem;
    // max-width: 20rem;
    width: 45%;
    background-color: black;
    border-radius: 8px;
    // padding: 12px;
    justify-content: space-between;

    .small-results {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1rem;

      .tag {
        padding: 3px 5px;
        font-size: $font-size-sm*0.85;
        background-color: $color-background;
        color: $color-text-white;
      }

      a {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1.2rem;
        font-weight: 500;
        font-size: $fontsize-md;
        line-height: $fontsize-big;
        color: #FFFFFF;
        white-space: pre-wrap;

        &:hover {
          background-color: $color-blue;
        }
      }
    }

    .message {
      padding-top: 0.75rem;
      padding-left: 1.5rem;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 22px;
      color: #C5C9E1;
    }

    .result {
      font-size: $fontsize-sm;
    }
  }

  .search-app-overlay {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 4.65rem;
    left: 0;
    right: 0;
    min-height: 100vh;
    z-index: $navbarsearch-zindex;
    padding: $padding-unit-big*2;
    background-color: var(--color-navsearch-app-bkg);

    .top-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: 100%;
      max-width: 944px;
      gap: $padding-unit-big;

      * {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        color: $color-text-grey-2;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
      }

    }


    .toolbar {
      right: 1rem;
      top: 1rem;
      font-size: $fontsize-big*1.5;
      color: var(--color-blue-dark);

      span:hover {
        color: var(--color-blue);
        cursor: pointer;
      }
    }

    .tab-navigation.search {
      display: flex;
      flex-direction: column;
      gap: $padding-unit-big*2;
      align-items: center;
    }

    .search-bar-big {
      margin: 0 auto;
      width: 944px;

      .search-input {
        min-height: 52px;
        border-radius: 40px;
        background-color: #000000;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 8px 24px;
      }
    }
  }
}