ul.pagination {
  margin-top: $padding-unit-big;
  text-align: center;

  li:last-child {
    margin-right: 0;
  }

  li {
    display: inline;
    margin-right: $padding-unit-sm;

    a, a:visited {
      text-decoration: none;
      padding: 0.3rem 0.5rem;
      color: var(--color-text-grey);
    }

    a:hover {
      background-color: var(--color-blue-dark);
      color: var(--color-text-grey);
      cursor: pointer;
    }
  }

  li.active {
    background-color: var(--color-blue);
    color: var(--color-text-white);
    padding: 0.3rem 0.5rem;
  }
}