ul.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  li:last-child {
    margin-right: 0;
  }

  li {
    border-radius: $radius-small;
    height: 30px;
    width: 25px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a, a:visited {
      color: $color-text-white !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a:hover {
      color: $color-blue !important;
    }
  }

  li.active {
    color: $color-text-white;
    background-color: $color-background-4;
    pointer-events: none;
  }

  li.arrow a {
    color: $color-blue !important;
  }

  li.arrow a:hover {
    color: $color-text-white !important;
  }
}