@media only screen and (min-width: 1600px) {
  main .detail-page.resource {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "detail related";
  }
}

@media only screen and (min-width: 1200px) {
  .detail-page.resource .right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'collections related';
  }
  .collapse-button {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  main .collapsible .collapse-toggle {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 2rem 1rem 2rem 5rem !important;
  }

  footer {
    padding: 3.75rem 3.75rem 3.75rem 6rem !important;
  }
}

@media only screen and (min-width: 769px) {
  nav .collapsible .collapse-toggle {
    display: none;
  }
  #filters-container {
    .filters-list {
      display: flex;
    }

    .show-container {
      display: none;
    }
  }
}

@media only screen and (min-width: 480px) {
  nav {
    .right-side .login-button {
      display: block;
    }
  }
}

@media only screen and (max-width: 1200px) {
  //hide fixed sidebar
  body {
    padding-left: 0;

    nav {
      margin-left: 0;
    }

    aside.sidebar {
      display: none;
    }
  }

  body.sidebar-visible {
    aside.sidebar {
      display: block;

      #sidebar-app .category-detail {
        width: 60vw;
      }
    }
  }
}


@media only screen and (max-width: 900px) {

  header {
    margin-bottom: 2rem;
  }

  main {
    padding: 0.75rem !important;

    #homepage-app {
      display: flex;
      flex-direction: column;
    }

    .search-page {
      display: flex;
      flex-direction: column;
    }

    .detail-page {
      display: flex;
      flex-direction: column;
    }

    .collapsible:not(.show) .collapsible-content {
      display: none;
    }
  }
}


@media only screen and (max-width: 769px) {

  header {
    clip-path: none;
    padding: 0;
    height: auto;

    .content {
      margin: 1rem auto;

      section.search-bar {
        padding: 1rem 0;
      }
    }
  }

  main {
    padding: 0.5rem !important;
  }

  nav {
    margin-bottom: $nav-height+$padding-unit;
    #search-bar-app {
      .navbar-search-input {
        position: absolute;
        top: $nav-height;
        left: 0;
        width: 100%;
        width: -moz-available; /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        margin: $padding-unit;
      }
    }
  }

  nav .collapsible {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  nav .collapsible.collapse-toggle {
    display: block;
  }

  nav .collapsible.show .collapsible-links {
    z-index: $collapsible-zindex;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $nav-height;
    left: 0;
    background-color: $color-background-1;
    width: 100%;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  nav .collapsible:not(.show) .collapsible-links {
    display: none;
  }

  //nav .dropdown .dropdown-menu {
  //  position: static;
  //}
  //
  //nav .dropdown .dropdown-button {
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
  //}
  //
  //nav .dropdown .dropdown-menu a {
  //  padding-left: 2rem;
  //}

  .search-bar-big {
    form > input {
      font-size: $fontsize-md*2;
    }

    form > .search-overlay {
      right: $padding-unit-big;
      top: $fontsize-big*1.5;
      font-size: $fontsize-md*2;
    }
  }

  #filters-container {
    .filters-list {
      display: none;
    }

    .show-container {
      display: flex;
    }
  }
  aside.sidebar.expanded #sidebar-app {
    width: 100vw;

    .category-detail {
      width: 50%
    }
  }
}

@media only screen and (max-width: 473px) {
  nav {
    .right-side .login-button {
      display: none;
    }

    .dropdown .dropdown-menu {
      top: $nav-height+$padding-unit*2;
      left: 0;
      border-radius: 0;
      width: 100%;
    }
  }

  .tab-navigation {
    .tab-headers {
      gap: $padding-unit-md;
    }

    .tab-headers > * {
      font-size: $fontsize-md;
    }
  }
  .search-bar-big {
    form > input {
      height: $fontsize-big*3;
      font-size: $fontsize-big;
    }

    form > .search-overlay {
      right: $padding-unit-big;
      top: $fontsize-big;
      font-size: $fontsize-big;
    }
  }
  .filters .filter-select {
    width: 100%;
  }
  aside.sidebar #sidebar-app {
    width: 100vw;

    .category-detail {
      width: 50%
    }
  }
}