@media screen and (max-width: 980px) {
  .results {
    margin-top: $padding-unit-big;
    display: flex;
    flex-direction: column;
    gap: $padding-unit-md;
    width: 100%;
    align-items: center;

    .resource-card {
      max-height: unset;
    }
  }
  #search-bar-app {
    .search-app-overlay {
      .tab-navigation.search {
        width: 100%;

        .tab-headers {
          width: 100%;
        }

        .tab-headers::-webkit-scrollbar {
          display: none;
        }
        
        /* Hide scrollbar for IE, Edge and Firefox */
        .tab-headers {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
      }

      .search-bar-big {
        width: 100% !important;
        margin: unset !important;
      }
    }
  }
}

@media only screen and (max-width: 980px) and (min-width: 715px) {
  .technologies,
  .category_concepts,
  .technology_concepts,
  .collections,
  .categories,
  .resources {
    width: unset !important;
  }
}

@media only screen and (max-width: 781px) {
  .resources {
    width: 100% !important;
    .has-sort {
      flex-direction: column !important;

      h4 {
        font-size: 1rem !important;
      }
    }

    .results {
      width: 100% !important;

      .resource-card {
        .resource-result {
          flex-direction: column-reverse;
          width: 100%;
          .right {
            max-width: unset !important;
          }
          .left {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: unset !important;
            .resource-tags {
              flex-flow: row wrap;
              padding: 0px 1.5rem;
            }
            .resource-listing-title {
              padding: 0px 1.5rem;
            }
            .description {
              padding: 0px 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 714px) {
  .technologies,
  .category_concepts,
  .technology_concepts,
  .collections,
  .categories {
    width: unset !important;
    .has-sort {
      flex-direction: column !important;

      h4 {
        font-size: 1rem !important;
      }
    }
  }
}
