aside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: $sidebar-zindex;
  background-color: RGBA(0, 0, 0, 0.5);
}


aside.hidden {
  z-index: -1;
  background-color: RGBA(0, 0, 0, 0);
}

aside.hidden .sidebar {
  display: none;
}

aside .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $sidebar-bg;
  width: var(--sidebar-width);
  height: 100vh;
  animation: growRight 300ms ease-in-out forwards;
  transform-origin: top left;
}

aside .sidebar .top-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 3rem;
}


aside .sidebar .top-section a {
  padding: 1rem;
  text-decoration: none;
  background-color: $sidebar-bg;
  color: $sidebar-text;
}

aside .sidebar .top-section a > svg {
  fill: $sidebar-text;
}

aside .sidebar .top-section a:last-child {
  flex-grow: 1;
}

aside .sidebar .top-section a:hover {
  background-color: $sidebar-hover-bg;
  color: $sidebar-hover-text;
}

aside .sidebar .top-section a:hover svg {
  fill: $sidebar-text;
}

aside .sidebar .links a {
  padding: 1rem;
  text-decoration: none;
  display: block;
  color: $sidebar-text;
}

aside .sidebar .links a:hover {
  background-color: $sidebar-hover-bg;
  color: $sidebar-hover-text;
}

aside .sidebar .dropdown .dropdown-menu {
  position: static;
}

aside .sidebar .dropdown .dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside .sidebar .dropdown .dropdown-menu a {
  padding-left: 2rem;
}