// External changes when sidebar is visible
// start
//

body {
  padding-left: $sidebar-width;

  nav {
    margin-left: -$sidebar-width;
  }

  aside.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}

// Styling of aside > sidebar element
// start
//

aside.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: $fontsize-md;
  font-weight: 400;
  height: 100vh;
  z-index: $sidebar-zindex;

  .top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: $fontsize-big*2;
    // width: $sidebar-width;
    min-width: 17rem;
    font-size: $fontsize-big;
    font-weight: 700;
    background-color: $sidebar-background;;
    box-shadow: inset 0px -1px 0px #2F2F2F;

    a {
      //padding: $padding-unit*2;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 22px;
      color: var(--color-text-white);

      .close-icon {
        font-size: 20px;
      }
    }
  }

  //.links {
  //  margin-top: $padding-unit-big*2;
  //  padding-bottom: $padding-unit-sm;
  //  overflow-y: auto;
  //  height: 100vh;
  //  font-size: $fontsize-sm;
  //
  //  .category {
  //    position: relative;
  //  }
  //
  //  a {
  //    padding: $padding-unit $padding-unit-sm;
  //    display: flex;
  //    gap: $padding-unit-big/2;
  //    flex-direction: row;
  //    align-items: center;
  //    justify-content: start;
  //    flex-wrap: nowrap;
  //    text-decoration: none;
  //    color: var(--color-text-grey);
  //
  //    img {
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //    }
  //
  //    span.no-logo {
  //      display: inline-block;
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //      padding-right: $padding-unit-sm;
  //    }
  //  }
  //
  //  a:hover {
  //    background-color: var(--color-sidebar-hover-bg);
  //    color: var(--color-sidebar-hover-txt);
  //  }
  //
  //  .other {
  //    margin-top: $padding-unit-big*2;
  //    padding: $padding-unit $padding-unit-sm;
  //
  //    svg {
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //      padding-right: $padding-unit-sm;
  //    }
  //  }
  //}
  //
  //.dropdown {
  //  .dropdown-menu {
  //    position: static;
  //
  //    a {
  //      padding-left: 2rem;
  //    }
  //  }
  //
  //  .dropdown-button {
  //    display: flex;
  //    flex-direction: row;
  //    justify-content: space-between;
  //  }
  //}

  #sidebar-app {
    position: absolute;
    top: $nav-height;
    background-color: $sidebar-background;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;

    position: absolute;
    top: 0;
    left: 0;

    .categories {
      margin-top: $padding-unit-big*2;
      padding-bottom: $padding-unit-sm;
      padding: 0px 16px $padding-unit-sm 16px;
      overflow-y: auto;
      height: 100vh;
      font-size: $fontsize-sm;
      max-width: $sidebar-width;

      .sidebar-title {
        // font-family: 'Montserrat', sans-serif;
        // font-style: normal;
        font-weight: 600;
        font-size: 18px;
        // line-height: 22px;
        margin-bottom: 12px;
        margin-top: 24px;
        color: #FFFFFF;
      }

      .tree {
        li {
          display: flex;
          align-items: center;
          padding: $padding-unit-sm/2 0px;

          span.expander {
            cursor: pointer;
            font-size: 24px;
          }

          div.parent {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // padding-left: $padding-unit-sm;
            padding: 4px 8px;
          }

          div.parent.expanded {
            font-weight: bold;
          }

          div.parent.expanded.open-details {
            background-color: #576EFF;
            border-radius: 1px;
          }

          div.parent.open-details {
            background-color: #576EFF;
            border-radius: 1px;
          }

          div.parent:hover {
            cursor: pointer;
          }
        }
        li.children {
          display: list-item;
          margin-left: $padding-unit-sm;
        }
      }
    }
  }
}

body.sidebar-visible {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

aside.sidebar.expanded {
  width: 100vw;

  #sidebar-app {
    display: flex;

    .category-detail {
      padding: 7rem 2rem 2rem 36px;
      overflow: auto;
      height: 86vh;
      width: 40vw;
      max-width: 502px;
      font-size: $fontsize-md;
      border-left: 1px solid var(--color-sidebar-border);
      display: flex;
      flex-direction: column;
      background-color: var(--color-sidebar-bg-2);

      h4 {
        font-family: 'Montserrat', sans-serif !important;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: left;
      }

      .name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        .name {
          font-weight: bold;
        }

        .close-btn {
          font-size: 16px;
          cursor: pointer;
        }
      }

      .description-container {
        font-family: 'Noto Sans', sans-serif !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 21px !important;
        margin-bottom: 2rem;

        .description {
          margin-bottom: 12px;
        }

        .view-more {
          color: #96A4FF;
          font-weight: 600;
        }
      }

      .empty-container {
        display: flex;
        justify-content: center;

        .empty-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          background: #1E1E2B;
          border-radius: 4px;
          min-height: 184px;
          padding-right: 96px;
          padding-left: 96px;
        }

        .empty-text {
          color: #7D829E;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          margin-bottom: 4px;
        }

        a.add-text {
          color: #96A4FF;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
        }

        img {
          max-height: 60px;
          margin-bottom: 8px;
        }
      }

      .technology {
        padding-left: 20px;
        align-items: center;
        min-width: 212px;
        min-height: 72px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        border-radius: 8px;
        background: #212227;
        border-radius: 8px;
      }

      .section {
        font-family: 'Noto Sans', sans-serif !important;
        font-style: normal !important;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 21px !important;
        margin-bottom: 3rem; // remove this later
        .section-title {
          margin-bottom: 8px;
          font-weight: bold;
        }
  
        p.section-description {
          margin-bottom: 22px;
        }

        .concepts-container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
        }

        .technologies-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: $padding-unit-big;
  
          .technology {
            .text {
              .name {
                color: var(--color-text-white);
              }
  
              .category {
                color: var(--color-text-grey-2);
                font-size: $fontsize-sm;
              }
            }
          }
  
          .technology:hover {
            background-color: var(--color-background);
          }
        }
      }

      .concept-link {
        background: #5C6FF6;
        border-radius: 64px;
        color: white;
        padding: 4px 16px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }

      .add-concept-btn {
        background: #363845;
        border-radius: 64px;
        color: #96A4FF;
        padding: 4px 16px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }

      .contribute-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 212px;
        min-height: 72px;
        background: #363845;
        border-radius: 8px;
        cursor: pointer;

        .contribute {
          color: #96A4FF;
        }
      }
    }

    .minimize {
      font-size: $fontsize-big;
      padding: $padding-unit-md;
      background-color: var(--color-blue-dark);
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .minimize:hover {
      background-color: var(--color-blue);
    }
  }
}