// External changes when sidebar is visible
// start
//

body {
  padding-left: $sidebar-width;

  nav {
    margin-left: -$sidebar-width;
  }

  aside.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}

// Styling of aside > sidebar element
// start
//

aside.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  //width: $sidebar-width;
  font-size: $fontsize-md;
  font-weight: 400;
  height: 100vh;
  z-index: $sidebar-zindex;
  //animation: growRight 300ms ease-in-out forwards;
  //transform-origin: top left;

  .top-section {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    line-height: $fontsize-big*2;
    width: $sidebar-width;
    font-size: $fontsize-big;
    font-weight: 700;
    background-color: var(--color-background-1);
    color: var(--color-sidebar-txt);
    box-shadow: inset 0px -1px 0px #2F2F2F;

    a {
      //padding: $padding-unit*2;
      text-decoration: none;
      color: var(--color-text-white);
    }

    a.collapse-button {
      padding: $padding-unit*2 0;
    }

    a > svg {
      fill: var(--color-text-white);
    }

    a:last-child {
      flex-grow: 1;
    }

    a:hover {
      background-color: var(--color-sidebar-hover-bg);
      color: var(--color-sidebar-hover-txt);
    }

    a:hover svg {
      fill: var(--color-text-grey);
    }
  }

  //.links {
  //  margin-top: $padding-unit-big*2;
  //  padding-bottom: $padding-unit-sm;
  //  overflow-y: auto;
  //  height: 100vh;
  //  font-size: $fontsize-sm;
  //
  //  .category {
  //    position: relative;
  //  }
  //
  //  a {
  //    padding: $padding-unit $padding-unit-sm;
  //    display: flex;
  //    gap: $padding-unit-big/2;
  //    flex-direction: row;
  //    align-items: center;
  //    justify-content: start;
  //    flex-wrap: nowrap;
  //    text-decoration: none;
  //    color: var(--color-text-grey);
  //
  //    img {
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //    }
  //
  //    span.no-logo {
  //      display: inline-block;
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //      padding-right: $padding-unit-sm;
  //    }
  //  }
  //
  //  a:hover {
  //    background-color: var(--color-sidebar-hover-bg);
  //    color: var(--color-sidebar-hover-txt);
  //  }
  //
  //  .other {
  //    margin-top: $padding-unit-big*2;
  //    padding: $padding-unit $padding-unit-sm;
  //
  //    svg {
  //      width: $fontsize-big;
  //      height: $fontsize-big;
  //      padding-right: $padding-unit-sm;
  //    }
  //  }
  //}
  //
  //.dropdown {
  //  .dropdown-menu {
  //    position: static;
  //
  //    a {
  //      padding-left: 2rem;
  //    }
  //  }
  //
  //  .dropdown-button {
  //    display: flex;
  //    flex-direction: row;
  //    justify-content: space-between;
  //  }
  //}

  #sidebar-app {
    position: absolute;
    top: $nav-height;
    background-color: var(--color-background-2);

    .categories {
      margin-top: $padding-unit-big*2;
      padding-bottom: $padding-unit-sm;
      overflow-y: auto;
      height: 100vh;
      font-size: $fontsize-sm;
      min-width: $sidebar-width;

      .tree {

        li.parent {
          color: var(--color-text-grey-2);
          padding-left: $padding-unit-sm;
        }

        li.parent.expanded {
          color: var(--color-blue);
          font-weight: 700;
        }

        li.children {
          margin-left: $padding-unit-sm;
          border-left: 1px dashed var(--color-background-4);
        }

        li {
          padding: $padding-unit-sm/2;

          span.expander {
            color: var(--color-text-white);
            margin-right: $padding-unit;
            padding: 0 $padding-unit-sm/2;
            background-color: var(--color-background-4);
          }

          span.expander:hover {
            background-color: var(--color-blue-dark);
          }
        }

        li.parent:hover {
          cursor: pointer;
          background-color: var(--color-background-1);
          color: var(--color-blue-dark);
        }
      }
    }
  }

}

body.sidebar-visible {
  overflow-y: hidden;

  aside#sidebar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

aside.sidebar.expanded {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);

  #sidebar-app {
    display: flex;
    min-width: $fontsize-big*40;

    .category-detail {
      padding: $padding-unit-big;
      overflow: auto;
      height: 100vh;
      width: 40vw;
      font-size: $fontsize-md;
      border-left: 1px dashed var(--color-background-4);
      display: flex;
      flex-direction: column;
      gap: $padding-unit-big;
      background-color: var(--color-sidebar-bg-2);

      h4, h5 {
        color: var(--color-text-grey-2);
        text-align: center;
      }

      .technologies-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $padding-unit-big;

        .technology {
          background-color: var(--color-background-1);
          max-height: $fontsize-big*2;

          .text {
            .name {
              color: var(--color-text-white);
            }

            .category {
              color: var(--color-text-grey-2);
              font-size: $fontsize-sm;
            }
          }
        }

        .technology:hover {
          background-color: var(--color-background);
        }
      }

      .contribute-container {
        text-align: center;
      }
    }

    .minimize {
      font-size: $fontsize-big;
      padding: $padding-unit-md;
      background-color: var(--color-blue-dark);
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .minimize:hover {
      background-color: var(--color-blue);
    }
  }
}