main .detail-page {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1.3fr 1fr;
  grid-template-areas:
  "header header"
  "detail related"
  "reviews related";

  section#detail {
    grid-area: detail;
    display: block;
    height: fit-content;

    .waiting-container {
      border: none;
    }

    p {
      margin: 0.2rem 0;
    }

    .rating {
      font-size: 0.85rem;
      color: $theme-color-accent;
    }

    .title {
      margin: 1rem 0;
      font-size: 1.4rem;
      font-weight: bolder;
      color: $theme-color-accent;
    }

    .group {
      margin: 1rem 0;
      .publication-date, .creation-date, .experience-level, .type {
        color: $text-muted;
      }
    }
  }

  section.reviews {
    animation: grow;
  }

}