
h1, h2, h3, h4, h5 {

}

h1 {
  font-weight: 700;
  font-size: $fontsize-big*2;
}

h2 {
  font-weight: 700;
  font-size: $fontsize-sm*2;
}

h3 {
  font-weight: 700;
  font-size: $fontsize-tn*2;
}


h4 {
  font-weight: 700;
  font-size: $fontsize-big;
}


h5 {
  font-weight: 700;
  font-size: $fontsize-sm;
}

p {
  margin-bottom: 0.2rem;
}

a, a:visited {
  text-decoration: none;
  color: $theme-color-accent;
}

a:hover {
  color: $theme-color-main;
  cursor: pointer;
}

.alert {
  margin: 1rem 0;
}