body {
  line-height: $fontsize-big*1.1;
}

h1, h2, h3, h4, h5 {

}

h1 {
  font-weight: 700;
  font-size: $fontsize-big*2;
  line-height: $fontsize-big*2.5;
}

h2 {
  font-weight: 700;
  font-size: $fontsize-sm*2;
  line-height: $fontsize-sm*2.5;

}

h3 {
  font-weight: 700;
  font-size: $fontsize-tn*2;
  line-height: $fontsize-tn*2.5;
}


h4 {
  font-weight: 700;
  font-size: $fontsize-big;
  line-height: $fontsize-big*1.1
}

h5 {
  font-weight: 700;
  font-size: $fontsize-sm;
  line-height: $fontsize-sm*1.1;
}

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:visited {
  color: var(--color-blue-dark);
}

a:hover {
  color: var(--color-blue-dark);
  cursor: pointer;
}

small, .small {
  font-size: $fontsize-tn;
}

.alert {
  margin: 1rem 0;
}

.breadcrumbs {
  font-size: $fontsize-tn;
  color: var(--color-text-grey-2);
  margin-bottom: $padding-unit-big;
}

.main-content {
  font-size: $fontsize-md;
  font-weight: 500;
}

.tags {

  > *, > a:visited {
    display: inline-block;
    border-radius: $radius-small;
    padding: $padding-unit-sm/2;
    margin: $padding-unit-sm/2;
    font-size: $fontsize-tn;
    font-weight: 700;
    line-height: $fontsize-sm;
    background-color: var(--color-background-3);
    color: var(--color-text-grey);
  }

  > *:last-child {
    margin-right: 0;
  }

  > span:hover, a:hover {
    cursor: pointer;
    background-color: var(--color-background-2);
    color: var(--color-text-grey);
  }

  > *.tech, > a.tech:visited {
    background-color: var(--color-blue);
    color: var(--color-background-1);
  }

  > *.tech:hover {
    background-color: var(--color-blue-dark);
    color: var(--color-background-1);
  }

  > .tech svg {
    height: $fontsize-tn;
    width: $fontsize-tn;
    margin-right: $padding-unit-sm/2;
  }

  > .tech span {
    display: flex;
    align-content: center;
  }

  > *.concept, > a.concept:visited {
    background-color: var(--color-text-white);
    color: var(--color-blue-dark);
  }

  > *.concept:hover {
    background-color: var(--color-text-grey);
    color: var(--color-blue-dark);
  }
}

.blue-text {
  color: var(--color-blue);
}