@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";


// text and general elements
$theme-color-main: #36383d;
$theme-color-main-contrast: #e0e1ea;

// for special elements like buttons
$theme-color-accent: #309287;

//important elements color scheme
//navbar
$nav-bg : $theme-color-main;
$nav-text: $theme-color-main-contrast;
$nav-hover-bg: lighten($nav-bg, 20);
$nav-hover-text: $nav-text;
//dropdowns
$dropdown-bg: lighten($theme-color-main, 10);
$dropdown-text: lighten($theme-color-main-contrast, 10);
$dropdown-hover-bg: darken($dropdown-bg, 10);
$dropdown-hover-text: lighten($dropdown-text, 10);
//sidebar
$sidebar-bg: $theme-color-main;
$sidebar-text: $theme-color-main-contrast;
$sidebar-hover-bg: lighten($sidebar-bg, 10);
$sidebar-hover-text: lighten($sidebar-text, 10);

//z-index
$header-zindex: 1;
$sidebar-zindex: 10000;
$dropdown-zindex: 10000;
$collapsible-zindex: 90000;
$modal-backdrop-zindex: 95000;
$modal-content-zindex: 96000;

:root {
    /* ---- sizes ---- */
    --topbar-height: 3rem;
    --sidebar-width: 15rem;
}

body {
  font-family: $font-family-sans-serif;
  color: $theme-color-main;
  background-color: $theme-color-main-contrast;
}

@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/alert";
@import "app/static/slim-select/src/slim-select/slimselect.scss";

@import "reset";
@import "animations";
@import "layouts";
@import "modal";
@import "forms";

@import "content";

@import "footer";
@import "navbar";
@import "sidebar";
@import "dropdowns";
@import "pagination";

@import "authentication";
@import "page_sections";
@import "pages";
@import "detail_page";
@import "edit_page";

@import "responsive";