// @import url(//fonts.googleapis.com/css?family=Inter);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

@import "config";

:root {
  --color-sidebar-bg: #262626;
  --color-sidebar-border: #1E1E2B;
  --color-sidebar-txt: #90929C;
  --color-sidebar-hover-bg: #555B5E;
  --color-sidebar-hover-txt: #F7F7F7;

  --color-background: #1E1E2B;
  --color-background-1: #242728;
  --color-background-2: #303436;
  --color-background-3: #3D4143;
  --color-background-4: #494E50;
  --color-background-5: #555B5E;

  --color-text-white: #F7F7F7;
  --color-text-grey: #B8C0C5;
  --color-text-grey-2: #85A0AD;
  --color-blue: #24A0ED;
  --color-blue-dark: #0C5C8D;
  --color-text-red: #FF0D0D;

  --color-navsearch-app-bkg: #0d0d0d;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-white);
}

@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/alert";
@import "app/static/slim-select/src/slim-select/slimselect.scss";

@import "reset";
@import "animations";
@import "modal";
@import "footer";
@import "forms";

@import "dropdowns";
@import "layouts";

@import "text";
@import "buttons";
@import "content";
@import "pagination";
@import "navbar";
@import "sidebar_fixed";
@import "listings";
@import "listing_resource";
@import "listing_tech";
@import "listing_history";
@import "create-page";
@import "detail_page";
@import "detail_page_resource";
@import "detail_page_technology";
@import "detail_page_concepts";
@import "detail_page_my_profile";
@import "review";
@import "search";
@import "navbar-search";
@import "homepage";
@import "profile_page";
@import "edit_suggestions";
@import "collections";
@import "skeleton_loading";
@import "static_pages";
@import "authentication";
@import "code_blocks";
@import "responsive";
@import "button";
@import "card";
@import "homepage_responsiveness";
@import "footer_responsiveness";
@import "sidebar_responsiveness";