body {
    background-color: #e8e8e8;
}

.auth-container {
    width: 600px;
    margin: 50px auto;
}

.auth-container h1 {
    margin-bottom: 40px;
}

.socialaccount_providers {
    margin-top: 20px;
    margin-bottom: 30px;
}

.socialaccount_providers a.socialaccount_provider {
    font-size: medium;
}

.socialaccount_providers a.socialaccount_provider.google {
    background-color: #DE4931;
}

.socialaccount_providers a.socialaccount_provider.facebook {
    background-color: #395697;
}

.email_list span {
    margin-left: 15px;
}

.email_list span.verified {
    color: darkgreen;
}

.email_list span.unverified {
    color: darkred;
}

.email_list span.primary {
    font-weight: bold;
    color: green;
}