{% load static %}

<div class="concepts">
    <div class="header spread-out-container">
        <div class="left">
            <h2>Resources</h2>
            <div class="sub">{% if sub_text %}{{ sub_text }}{% else %}Articles, tutorials, courses or books{% endif %}</div>
        </div>
        <div class="right">
            <a class="btn secondary" href="{% url 'create-resource' %}"
               rel="nofollow noopener">
                <span class="icon-plus"></span> Add Resource
            </a>
        </div>
    </div>
    {% if resources %}
        <div class="column-container">
            {% for result in resources %}
                {% include 'study_resource/result.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-container">
            <div class="empty-div"><img src="{% static 'imgs/add_file.png' %}" alt="add concept"/>
                <p class="empty-text">There are no resources yet. Help the community by adding one yourself!</p>
            </div>
        </div>
    {% endif %}
</div>