<ul class="pagination">
    {% if results.has_previous %}
        <li><a href="?page={{ results.previous_page_number }}"
               data-page="{{ results.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for i in results.paginator.page_range %}
        {% if results.number == i %}
            <li class="active"><span>{{ i }}</span></li>
        {% else %}
            <li><a href="?page={{ i }}" data-page="{{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if results.has_next %}
        <li><a href="?page={{ results.next_page_number }}" data-page="{{ results.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>

<script defer>
    window.addEventListener("load", function () {

        function setURLParameter(parameter, value) {
            let url = new URL(window.location.href);
            url.searchParams.set(parameter, value);
            return url.href;
        }

        const links = document.querySelectorAll('.pagination a');
        links.forEach(link => link.addEventListener('click', e => {
            e.preventDefault();
            const page_no = e.target.dataset.page;
            window.location = setURLParameter('page', page_no)
        }))

    }, false);
</script>