@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yyphcd');
  src:  url('fonts/icomoon.eot?yyphcd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yyphcd') format('truetype'),
    url('fonts/icomoon.woff?yyphcd') format('woff'),
    url('fonts/icomoon.svg?yyphcd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram1:before {
  content: "\e91a";
}
.icon-caret-back-sharp:before {
  content: "\e90f";
}
.icon-caret-forward-sharp:before {
  content: "\e910";
}
.icon-logo-reddit:before {
  content: "\e918";
}
.icon-person-circle:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e911";
}
.icon-arrow_right:before {
  content: "\e900";
}
.icon-arrow_drop_down:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-flag1:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-locked:before {
  content: "\e901";
}
.icon-encryption:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e901";
}
.icon-log-in:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-library:before {
  content: "\e921";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin1:before {
  content: "\eac9";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-info-circle:before {
  content: "\e90c";
}
.icon-thumbs-down:before {
  content: "\e90e";
}
.icon-thumbs-up:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e908";
}
.icon-thumbs-o-down:before {
  content: "\e907";
}
.icon-thumbs-o-up:before {
  content: "\e90a";
}
.icon-angle-down:before {
  content: "\e906";
}
.icon-reddit-alien:before {
  content: "\e919";
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-facebook-f:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-reddit:before {
  content: "\e916";
}
.icon-telegram:before {
  content: "\e917";
}
