$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-article: "\e902";
$icon-locked: "\e901";
$icon-encryption: "\e901";
$icon-login: "\e901";
$icon-log-in: "\e901";
$icon-film: "\e913";
$icon-book: "\e91f";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-hour-glass: "\e979";
$icon-bookmark: "\e9d2";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-banknote: "\e903";
$icon-check: "\e903";
$icon-bill: "\e903";
$icon-money: "\e903";
$icon-cash: "\e903";
$icon-close: "\e904";
$icon-search: "\e905";
$icon-filter: "\e908";
$icon-thumbs-o-down: "\e906";
$icon-thumbs-o-up: "\e907";
$icon-angle-down: "\e900";

