$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cancel: "\e902";
$icon-flag1: "\e90b";
$icon-close: "\e904";
$icon-search: "\e905";
$icon-locked: "\e901";
$icon-encryption: "\e901";
$icon-login: "\e901";
$icon-log-in: "\e901";
$icon-pencil: "\e909";
$icon-library: "\e921";
$icon-folder-plus: "\e931";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-hour-glass: "\e979";
$icon-menu: "\e9bd";
$icon-bookmark: "\e9d2";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-minus: "\ea0b";
$icon-google2: "\ea89";
$icon-facebook2: "\ea91";
$icon-github: "\eab0";
$icon-linkedin1: "\eac9";
$icon-info-circle: "\e90c";
$icon-thumbs-down: "\e903";
$icon-thumbs-up: "\e90a";
$icon-filter: "\e908";
$icon-thumbs-o-down: "\e906";
$icon-thumbs-o-up: "\e907";
$icon-angle-down: "\e900";
$icon-arrow_right: "\e900";
$icon-arrow_drop_down: "\e903";
$icon-edit: "\e911";
$icon-plus: "\e912";
$icon-linkedin: "\e913";
$icon-facebook: "\e914";
$icon-twitter: "\e915";
$icon-reddit: "\e916";
$icon-telegram: "\e917";
$icon-telegram1: "\e91a";
$icon-caret-back-sharp: "\e90f";
$icon-caret-forward-sharp: "\e910";
$icon-reddit-alien: "\e919";
$icon-person-circle: "\e91b";
$icon-exit: "\ea14";