{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>Noodles.com - add problem</title>
    <meta name="description"
          content="Add a problem"/>
{% endblock %}

{% block content %}
    <script>
        const USER_ID = {{ user.id }};
        const RESOURCE_API = "{{ urls.resource_api }}";
        const TAGS_OPTIONS_API = "{{ urls.tag_options_api }}";
        const CATEGORIES_OPTIONS_API = "{{ urls.categories_options_api }}";
    </script>
    <div class="create-page">
        <section class="header">
            <h1>Create new problem</h1>
        </section>
        <section id="create-app"></section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'problem_solution/problem-create.js' %}"></script>
{% endblock %}