{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.description }}"/>
    <meta name="keywords" content="
            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const LOGIN_URL = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        const USER_ID = {{ user.id }};

        const HOMEPAGE = "{% url 'homepage' %}";
        const SEARCH_URL = "{% url 'search' %}";

        const TECH_API = "{{ urls.tech_api }}";
        const CATEGORIES_OPTIONS_API = "{{ urls.categories_options_api }}";
        const TAGS_OPTIONS_API = "{{ urls.tag_options_api }}";
        const TECH_OPTIONS_API = "{{ urls.tech_options_api }}";

        const PROBLEM_SOLUTIONS_LIST= "{{ urls.solutions_list }}";
        const SOLUTION_API = "{{ urls.solution_api }}";

        const RESULT = {
            pk: {{ result.pk }},
            name: "{{ result.name }}",
            thumbs_up_array: JSON.parse("{{ thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ thumbs_down_array }}"),
            vote_url: "{{ urls.vote_api }}",
        }
    </script>
    <div class="detail-page">

        <div class="column-container" itemscope itemtype="https://schema.org/AggregateRating">
            <section id="detail" class="card" itemprop="itemReviewed" itemscope
                     itemtype="https://schema.org/CreativeWork">
                <div class="toolbar">
                    <a href="{% url 'problem-edit' id=result.pk %}">edit</a>
                </div>
                {% include 'problem_solution/problem/detail.html' %}
                <div id="votes-app" class="thumbs"></div>
            </section>
            <section id="create-solution" class="column-container"></section>
            <section id="children" class="column-container"></section>
        </div>


        <section class="related column-container">
            <h3>Related</h3>
            <div class="tile-container">
                {% for result in related %}
                    {% include 'problem_solution/problem/result.html' %}
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'problem_solution/solution-create-modal.js' %}"></script>
    <script src="{% static 'problem_solution/problem-children-tree.js' %}"></script>
    <script src="{% static 'votes.js' %}"></script>
{% endblock %}