<h1 class="title" itemProp="name">
    {{ result.name }}
</h1>
{% if result.parent %}
    <p class="">problem of <a href="{{ result.parent.absolute_url }}">{{ result.parent.name }}</a></p>
{% endif %}
<p class="summary" itemProp="abstract">{{ result.description }}</p>
<div class="tags" itemProp="keywords">
    <span>Tags: </span>
    {% for tag in result.tags.all %}
        <a class="tag" href="{% url 'search' %}?tags={{ tag.id }}"><span></span>{{ tag }}</a>
    {% endfor %}
</div>
{% include 'vote_not_logged.html' with resource=result %}