{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>Noodles.com - add technology</title>
    <meta name="description"
          content="Add a technology to the curated list! Adding technologies will reward the user with {{ data.reward }} points! Technologies can be voted by registered users
                and they can also add edit suggestions to improve the listing. Each up vote will increase your score!"/>
{% endblock %}

{% block content %}
    <script>
        const TECH_API = "{{ urls.tech_api }}";
        const TECH_OPTIONS_API = "{{ urls.tech_options_api }}";
        const CATEGORIES_OPTIONS_API = "{{ urls.categories_options_api }}";
        const LICENSE_OPTIONS_API = "{{ urls.license_options }}";
    </script>
    <div class="create-page">
        <section class="header">
            <h1>Add Technology</h1>
            <div class="explanation">
                You will be rewarded <span class="blue">{{ data.reward }} points</span>. Technologies can be voted by registered users
                and they can also add edit suggestions to improve the listing. Each up vote will increase your score!
            </div>
        </section>
        <section id="create-app">
            <div class="waiting-container">
                <span class="icon-hour-glass spin-stop"> </span>
                <span class="text">Loading the Create Technologies App. It's a one time load.</span>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'technology/technology-create.js' %}"></script>
{% endblock %}