{% load mptt_tags %}
{% load markdownify %}

<header>
    <div class="left">
        <img src="{{ detail.logo.medium }}" alt="">
        <div class="title-container">
            <h1 class="title">{{ detail.name }}</h1>
            <span>maintained by {{ detail.owner }}</span>
            <a href="{{ detail.url }}">{{ detail.url }}</a>
        </div>
    </div>
    <div class="right">
        <a class="btn contribute" href="{% url 'tech-edit' id=detail.pk %}" rel="nofollow noopener">Suggest Edit</a>
        <a class="btn contribute" href="{% url 'technology-history' slug=detail.slug %}"
           rel="nofollow noopener">History</a>
    </div>
</header>


<div class="description">
    <p class="summary">{{ detail.description | linebreaks }}</p>
</div>
<div class="description-long">
    {{ detail.description_long|markdownify }}
</div>

<meta itemprop="name" content="{{ detail.name }}"/>
<meta itemprop="summary" content="{{ detail.description }}"/>
<meta itemprop="keywords" content="
        {% for category in detail.category.all %}
            {% for cat in category.get_ancestors %}
                {{ category }}, {{ cat.name }},
            {% endfor %}
        {% endfor %}
        {{ detail.license_label }}
"/>

<span class="published">Added By <a
        href="{% url 'user-profile' detail.author.username %}">{{ detail.author }}</a></span>