{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}
{% load mptt_tags %}

{% block meta_tags %}
    <title>{{ result.name }}</title>
    <meta name="description"
          content="{{ result.summary }}"/>
    <meta name="keywords" content="


            {% for tag in result.tags.all %}{{ tag }}, {% endfor %}{% for tech in result.technologies.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const LOGIN_URL = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        const HOMEPAGE = "{% url 'homepage' %}";
        const TAGS_ENDPOINT = "{% url 'tags-viewset-list' %}";
        const TECH_ENDPOINT = "{% url 'techs-viewset-list' %}";

        const RESULT = {
            thumbs_up_array: JSON.parse("{{ thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ thumbs_down_array }}"),
            vote_url: "{{ vote_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> / Technology <a href="{{ result.absolute_url }}">{{ result.name }}</a>
    </div>
    <div class="detail-page technology">
        <div class="column-container">
            <section id="detail" class="technology-detail" itemscope itemtype="https://schema.org/CreativeWork">
                {% include 'technology/detail.html' %}
                <div id="votes-app" class="thumbs"></div>
            </section>
        </div>
        {% include 'technology/right_side.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'votes.js' %}"></script>
{% endblock %}