{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}
{% load mptt_tags %}

{% block meta_tags %}
    <title>{{ detail.name }}</title>
    <meta name="description"
          content="{{ detail.summary }}"/>
    <meta name="keywords" content="




            {% for tag in detail.tags.all %}{{ tag }}, {% endfor %}{% for tech in detail.technologies.all %}{{ tech }}, {% endfor %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const TAGS_ENDPOINT = "{% url 'tags-viewset-list' %}";
        const TECH_ENDPOINT = "{% url 'techs-viewset-list' %}";

        const RESULT = {
            thumbs_up_array: JSON.parse("{{ thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ thumbs_down_array }}"),
        }
        const ROUTES = {
            vote_url: "{{ vote_url }}",
            subscribe_url: "{{ subscribe_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > Technology <a href="{{ detail.absolute_url }}">{{ detail.name }}</a>
    </div>
    <div class="detail-page technology">
        <section id="detail" class="card" itemscope
                 itemtype="https://schema.org/CreativeWork">
            {% include 'technology/detail.html' %}
            <div id="votes-app" class="thumbs"></div>
        </section>
        {% include 'technology/right_side.html' %}
        <div class="column-container bottom">
            {% include 'technology/detail_concepts.html' %}
            {% include 'technology/collections.html' %}
            {% include 'detail_resources.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/votes.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}