{% load mptt_tags %}

<header>
    <div class="left-side">
        <img src="{{ result.logo.medium }}" alt="">
        <h1 class="title" itemProp="name">{{ result.name }}</h1>
    </div>
    <a class="btn contribute" href="{% url 'tech-edit' id=result.pk %}">Contribute</a>
</header>
<p class="tags">
    <a href="{% url 'search_page' %}?tab=technologies&license={{ result.license_label }}">{{ result.license_label }}</a>
</p>
{% for category in result.category.all %}
    <p class="tags">
        {% for cat in category.get_ancestors %}
            <a href="{% url 'search_page' %}?tab=technologies&category={{ cat }}">{{ cat }}</a>
        {% endfor %}
        <a href="{% url 'search_page' %}?tab=technologies&category={{ category }}">{{ category }}</a>
    </p>
{% endfor %}
<div class="description">
    <p class="summary" itemProp="abstract">{{ result.description | linebreaks }}</p>
    <p>Technology maintained by <span class="highlighted">{{ result.owner }}</span></p>
    <p class="source_url"><a href="{{ result.url }}">{{ result.url }}</a></p>
    {% if result.pros %}
        <p class="pros"><span class="highlighted">Pros</span> {{ result.pros | linebreaks }}</p>
    {% endif %}
    {% if result.cons %}
        <p class="cons"><span class="highlighted">Cons</span> {{ result.cons | linebreaks }}</p>
    {% endif %}
    {% if result.limitations %}
        <p class="limitations"><span class="highlighted">Limitations</span> {{ result.limitations | linebreaks }}</p>
    {% endif %}
</div>

{% if result.ecosystem.count > 0 %}
    <p>Ecosystem:</p>
    <div class="tags">
        {% for tech in result.ecosystem.all %}
            <a class="tech" href="{% url 'tech-detail' tech.pk tech.slug %}">{{ tech }}</a>
        {% endfor %}
    </div>
{% endif %}

<span class="published">Added By <a
        href="{% url 'user-profile' result.author.username %}">{{ result.author }}</a></span>