{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
    <div id="edit-app"></div>
{% endblock %}

{% block extra_js %}
    <script>
        const TITLE = "Edit Technology";
        const USER_ID = {{ request.user.id }};
        const RESOURCE_DETAIL = "{{ resource_detail }}";
        const RESOURCE_API = "{{ resource_api }}";

        const EDIT_SUGGESTIONS_LIST = "{{ edit_suggestions_list }}";
        const EDIT_SUGGESTIONS_PUBLISH = "{{ edit_suggestions_publish }}";
        const EDIT_SUGGESTIONS_REJECT = "{{ edit_suggestions_reject }}";
        const EDIT_SUGGESTIONS_API = "{{ edit_suggestions_api }}"

        const TAGS_OPTIONS_API = "{{ tag_options_api }}";
        const TECH_OPTIONS_API = "{{ tech_options_api }}";

        const TECH_API = "{{ resource_api }}";
    </script>
    <script src="{% static 'js/react-bundle.js' %}"></script>
    <script src="{% static 'technology/edit.js' %}"></script>
{% endblock %}