<section class="related column-container" id="related-app">
    <h4>Concepts</h4>
    {% if concepts.count > 0 %}
        {% for result in concepts %}
            {% include 'concepts/technology/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'technology-concept-create' %}?technology={{ result.pk }}"
           rel="nofollow noopener">Add a new
            concept</a>
    {% else %}
        <div class="alert alert-contribute">
            <p>There are no concepts specific to {{ result.name }}.</p>
            <a class="contribute" href="{% url 'technology-concept-create' %}?technology={{ result.pk }}"
               rel="nofollow noopener">
                Be the first to add a concept
            </a>
        </div>
    {% endif %}
    <h4>Related Technologies</h4>
    {% if related_technologies.count > 0 %}
        {% for result in related_technologies %}
            {% include 'technology/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'technology-create' %}" rel="nofollow noopener">Add a new one</a>
    {% else %}
        <div class="alert alert-contribute">
            <p>There are no technologies {{ result.name }}.</p>
            <a class="contribute" href="{% url 'technology-create' %}" rel="nofollow noopener">Be the first to add a related 1technology</a>
        </div>
    {% endif %}
    <h4>Resources Collections</h4>
    {% if collections.count > 0 %}
        {% for result in collections %}
            {% include 'study_collection/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'my-collections' %}" rel="nofollow noopener">Create a new one</a>
    {% else %}
        <div class="alert alert-contribute">
            <p>There are no collections for {{ result.name }}.</p>
            <a class="contribute" href="{% url 'my-collections' %}" rel="nofollow noopener">Be the first to create a
                collection</a>
        </div>
    {% endif %}
    <h4>Resources</h4>
    {% if resources.count > 0 %}
        {% for result in resources %}
            {% include 'study_resource/result.html' %}
        {% endfor %}
        <a class="contribute" href="{% url 'create-resource' %}" rel="nofollow noopener">Add a new learning resource</a>
    {% else %}
        <div class="alert alert-contribute">
            <p>There are no resources added for {{ result.name }}.</p>
            <a class="contribute" href="{% url 'create-resource' %}" rel="nofollow noopener">Be the first to add a
                learning resource</a>
        </div>
    {% endif %}
</section>