{% load paginator_tag %}

<section class="tab-navigation">
    <div class="tab-headers">
        {% if resources %}
            <h4 data-target="resources-tab" class="active">Resources</h4>
        {% endif %}
        {% if collections %}
            <h4 data-target="collections-tab">Collections</h4>
        {% endif %}
    </div>
    <div class="tab-content">
        {% if resources %}
            <div id="resources-tab" class="active">
                <div class="column-container">
                    {% for resource in resources %}
                        {% include 'study_resource/result.html' with result=resource %}
                    {% endfor %}
                    {% if resources.has_other_pages %}
                        {% paginator_tag resources 3 %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if collections %}
            <div id="collections-tab" class="">
                <div class="column-container">
                    {% for collection in collections %}
                        {% include 'study_collection/result.html' with result=collection %}
                    {% endfor %}
                    {% if collections.has_other_pages %}
                        {% paginator_tag collections 3 %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>