{% extends "frontend/base.html" %}
{% load static %}
{% load star_rating %}

{% block meta_tags %}
    <title>{{ detail.name }}</title>
    <meta name="description" content="{{ detail.description }}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
{% endblock %}

{% block content %}
    <script>
        const RESOURCE_API_DELETE = "{% url 'concept-technology-viewset-detail' detail.id %}";
        const RESOURCE_DISCUSSION_API_URL = "{% url 'concept-technology-viewset-discussion-posts' detail.id %}";
        const RESULT = {
            thumbs_up_array: JSON.parse("{{ detail.thumbs_up_array }}"),
            thumbs_down_array: JSON.parse("{{ detail.thumbs_down_array }}"),
        }
        const ROUTES = {
            vote_url: "{{ vote_url }}",
            subscribe_url: "{{ subscribe_url }}",
        }
    </script>
    <div class="breadcrumbs">
        <a href="/">Homepage</a> > Technology: <a href="{{ detail.technology.absolute_url }}" >{{ detail.technology }}</a> {% if detail.parent %}> Concept: {{ detail.parent.get_ahref | safe}}{% endif %}
    </div>
    <div class="detail-page concept">
        <section id="detail" class="card" itemscope itemtype="https://schema.org/CreativeWork">
            {% include 'concepts/technology/detail.html' %}
            <div id="votes-app" class="thumbs"></div>
        </section>
        {% include 'concepts/technology/right_side.html' %}
        <div class="coloumn-container bottom">
            <div id="discussions-app"></div>
            {% include 'detail_resources.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/votes.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script src="{% static 'js/discussions.js' %}"></script>
{% endblock %}