<header>
    <div class="top">
        <div class="left-side">
            <img src="{{ result.technology.logo.small }}" alt="">
            {{ result.technology.name }}
        </div>
        <div id="detail-toolbar" class="toolbar">
            <a href="{% url 'technology-concept-edit' result.pk %}">Suggest Edit</a>
        </div>
    </div>
    <h2 class="title" itemProp="name">{{ result.name }}</h2>
    <div class="tags">
        {% if result.parent %}
            <a href="{% url 'search_page' %}?tab=resources&category={{ result.parent.name_tree }}">{{ result.parent.name_tree }}</a>
        {% endif %}
        <a href="{% url 'search_page' %}?tab=resources&experience={{ result.experience_level_label }}"
           itemprop="educationalLevel">Experience Level {{ result.experience_level_label }}</a>
    </div>
</header>
<div class="description">
    {{ result.description | linebreaks }}
</div>