<div class="related column-container" id="related-app">
    <div class="skeleton header sm"></div>
    <div class="tags">
        <span class="skeleton tag"></span>
        <span class="skeleton tag"></span>
        <span class="skeleton tag"></span>
    </div>
    <div class="skeleton header sm"></div>
    <div class="tags">
        <span class="skeleton tag"></span>
        <span class="skeleton tag"></span>
        <span class="skeleton tag"></span>
    </div>
    <div class="skeleton header sm"></div>
    <div class="skeleton result"></div>
    <div class="skeleton result"></div>
    <div class="skeleton result"></div>
</div>