{% extends 'frontend/base.html' %}

{% block content %}
    <div class="static-page">
        <h1>About</h1>
        <div class="card vmargin-big">
            <h2>A self-learner's quest</h2>
            <p>Noodles.dev is a project created by Vladimir Gorea, a software engineer, self-learner, that wanted a better way
            to organize knowledge for making learning easier.</p>
            <p>As so many software developers, I started software development by myself after a quick and dirty
                introduction to C++ in highschool. Internet access back then was not widely available and there
                wasn't any Stackoverflow or youtube.
            </p>
            <p>
                Now, the amount of resources is staggering, but it doesn't make learning easier as the ecosystem has grown in complexity
                as well and is difficult to choose which course, book or tutorial to follow.
            </p>
            <p>
                I, as many others, learn by doing first a research on the subject, then gathering resources to follow. I write down a summary and save
                anything helpful in a folder or a file about the subject. It was after repeating the same process for many times that the idea of noodles.dev
                struck me.
            </p>
            <p>
                Why don't we all share notes and resources about learning?
            </p>
            <p>This is the idea behind noodles.dev - a community curated content and structure
                for learning software.</p>
        </div>


        <h1>Join Noodles.dev Community</h1>

        <div class="card vmargin-big">
        <h2>Free and easy software learning</h2>
        The world needs more and more software engineers but learning software is difficult without proper guidance.
        It's not only learning the syntax of a programming language or alghorithms that is neccessary but also how to
        integrate into the complex real-world enviroment. With the help of the community we can make it easier for
        anyone to become a good software engineer.
        </div>

        <div class="card vmargin-big">
        <h2>Organize the chaos</h2>
        There are so many articles, books, technologies, options in software these days that it can create "choice
        paralysis". Less inexperienced learners need your expertise in reviewing and organising the available learning
        resources.
        </div>

        <div class="card vmargin-big">
        <h2>Grow and earn together</h2>
        By adding and improving learning resources the users get points measuring their contribution. Members creating
        and curating content will be compensated proportionally by sharing the profit with them. In the near future we
        plan to issue crypto tokens for repaying their effort.
        </div>

        <div class="card vmargin-big">
        <h2>Funding</h2>
        Noodles.dev will always be free for their users! Funding will come through donations and advertisments such as
        jobs and closely related ads.

        <p>Donations in ETH to 0xb8775FD1467C18276715Cb88a5d97A77562c693B</p>
        </div>
    </div>
{% endblock %}